// transitions
@mixin transition($target: all, $duration: .3s, $function: ease-in-out) {
  transition: $target $duration $function;
}

// bg loader
@mixin bg-loader($name) {
  background-image: url('../img/'#{$name});
  background-size: 100% auto;
  @content;
}

// animation mixin
@mixin animation($name: 'customAnimation', $duration : 5s, $function: linear) {
  animation: $name $duration $function infinite;
  @keyframes #{$name} {
    50% {
      @content;
    }
  }
}

@mixin headers() {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}

@mixin flip-horizontal() {
  transform: rotateX(180deg);
}
