.ad-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include breakpoint-up(tablet) {
    flex-direction: row;
    width: calc((100% / 3) * 2) !important;
  }

  .article-inner {
    width: 100%;
    padding-right: 0;

    @include breakpoint-up(tablet) {
      width: 50%;
      padding-right: .5rem;
    }
  }

  .ad {
    width: 100%;
    border-radius: $border-radius;
    padding: .5rem;
    margin: 0 -1rem;

    @include breakpoint-up(tablet) {
      width: 50%;
      margin-left: .5rem;
    }

    .title {
      white-space: normal;
    }

    .body {
      line-height: 1rem;
    }

    .btn, .button {
      width: 100%;
      text-align: center;
    }

    & + div {
    }
  }
}
