.auto-width {

  & > div, & > section {
    margin: 0 auto;

    @include breakpoint-up(mobile-l){
      width: $page-width-mobile-l;
    }

    @include breakpoint-up(tablet){
      width: $page-width-tablet;
    }

    @include breakpoint-up(desktop){
      width: $page-width-desktop;
    }

    @include breakpoint-up(desktop-l){
      width: $page-width-desktop-l;
    }

    @include breakpoint-up(desktop-xl){
      width: $page-width-desktop-xl;
    }
  }
}
