.bg-base {
  background: linear-gradient(180deg, $color-base-light, $color-base);

  h1,h2,h3,h4,h5,h6 {
    color: $color-light !important;
  }

  p, .icon {
    color: $color-light !important;
  }

  a {
    color: $color-light !important;
  }

  .btn, .button {
    background: linear-gradient(135deg, $color-light, $color-base-light);
    color: $color-dark !important;

    text-shadow: none;
  }
}

.bg-base-light {
  background-color: lighten($color-base, 30%);

  h1,h2,h3,h4,h5,h6 {
    color: $color-light !important;
  }

  p, .icon {
    color: $color-light !important;
  }

  a {
    color: $color-light !important;
  }

  .btn, .button {
    background-color: $color-light;
    color: $color-dark !important;

    text-shadow: none;
  }
}

.bg-alt {
  background-color: lighten($color-magenta, 50%);

  h1,h2,h3,h4,h5,h6 {
    color: $color-light !important;
  }

  p, .icon {
    color: $color-light !important;
  }

  a {
    color: $color-light !important;
  }

  .btn, .button {
    background-color: $color-light;
    color: $color-dark !important;

    text-shadow: none;
  }
}

.bg-dark {
  background: linear-gradient(180deg, $color-darkgrey, #111);
  color: $color-light;

  @include headers() {
  }

  a {
    font-weight: bold;
  }

}

.bg-lightgrey {
  background: linear-gradient(180deg, $color-lightgrey, darken($color-lightgrey, 10%));
  color: $color-dark;
}
.bg-grey { background-color: $color-grey; }
.bg-green { background-color: $color-green; }
.bg-red { background-color: $color-red; }
.bg-orange { background-color: $color-orange; }
.bg-magenta { background-color: $color-magenta; }


//color fills
.color-grey {
  color: $color-grey;
  svg { color: $color-grey; }
}
.color-base {
  color: $color-base;
  svg { color: $color-base; }
}
.color-blue {
  color: $color-blue;
  svg { color: $color-blue; }
}
.color-green  {
  color: $color-green;
  svg { color: $color-green; }
}
.color-yellow  {
  color: $color-yellow;
  svg { color: $color-yellow; }
}
.color-orange  {
  color: $color-orange;
  svg { color: $color-orange; }
}
.color-magenta  {
  color: $color-magenta;
  svg { color: $color-magenta; }
}
.color-red  {
  color: $color-red;
  svg { color: $color-red; }
}
