.btn, .button {
  @include transition();
  text-transform: capitalize;
  display: inline-block;
  color: $color-light;
  height: $button-height;
  line-height: $button-height;
  background: linear-gradient(135deg, $color-base-light, $color-button);
  font-size: inherit;
  padding: 0 1rem;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  border: 0;
  outline: 0;
  border-radius: $border-radius;
  text-shadow: 0 1px 0 rgba($color-dark, .5);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //mobile tap color removal
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12);

  //ellipsis
  text-overflow: ellipsis;
  white-space: nowrap;

  @include breakpoint-up(tablet) {
    height: $button-height;
    line-height: $button-height;
  }

  svg {
  }

  &:hover {
    background: linear-gradient(135deg, $color-base-light, $color-base, $color-button-hover);
    color: $color-light;
    text-decoration: none;
  }

  &:active {
    background-color: $color-button-active;
    text-decoration: none;
  }

  &--disabled {
    cursor: default;
    background: linear-gradient(180deg, $color-light, $color-lightgrey) !important;
    color: $color-darkgrey !important;
    text-shadow: none;

    &:hover {
      background-color: $color-lightgrey;
    }

    &:active {
      background-color: $color-lightgrey;
    }
  }

  &.icon {
    display: block;
  }
}
