.theme-color,
#theme-color {
  color: $color-base;
}

.theme-shadow {
  box-shadow: 0 0px 5px -1px rgba($color-dark, .5);
}
.theme-shadow-inset {
  box-shadow: 0 0 20px -2px rgba($color-dark, 0.5) inset;
}

.dark-mode {
  background-color: $color-dark;
  color: $color-light;
}

.inner {
  padding: 0 .5rem;

  @include breakpoint-up(tablet-l) {
    padding: 0;
  }
}

.icon {
  svg.feather {
  }
}

svg.feather {
  vertical-align: middle;
  max-width: 100%;
  height: 100%;
}

.padding {
  padding: 2rem 0;

  @include breakpoint-up(tablet) {
    padding: 4rem 0;
  }

  @include breakpoint-up(desktop) {
    padding: 7rem 0;
  }
}

.margin {
  margin: .5rem 0;

  @include breakpoint-up(tablet) {
    margin: 1rem 0;
  }

  @include breakpoint-up(desktop) {
    margin: 2rem 0;
  }
}
.cursor-pointer {
  cursor: pointer;
  user-select: none;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bold {
  font-weight: 300;
}
.no-scroll {
  position: fixed;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

//float & visibility classes
.float-right {
    float:right;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
.float-left {
    float:left;

    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.clear { clear: both; }
.hide, .hidden { display: none !important; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }

.margin-bottom {
  margin-bottom: .5rem;
}

.bold { font-weight: bold; }

//animations
@keyframes akmodan-logo {
  50% {
    filter: hue-rotate(360deg);
  }
}

@keyframes gradient {
  50% {
    background-position: 200% 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes nav-bounce {
  0%, 100% {
    transform: rotateY(-360deg);
  }
  50% {
    transform: translate3d(0, -20px, 0);
  }
}
