.form {
  text-align: left;

  label {
    display: block;
    user-select: none;
    // cursor: pointer;
    margin-bottom: 1rem;

    span {
      line-height: $button-height;
      padding-right: .5rem;
      min-width: 6rem;
      display: inline-block;
    }
  }

  .input, input[type='text'], input[type='email'] {
    @include transition;
    height: $button-height;
    line-height: $button-height;
    font-family: inherit;
    border: 1px solid $color-grey;
    padding: .5rem;
    font-size: .8rem;
    outline: 0;
    display: inline-block;
    border-radius: $border-radius;
    min-width: $form-input-width;
    box-shadow: 0 0 1px rgba($color-dark, 0.3) inset;
    margin-right: .5rem;

    &:hover {
      cursor: pointer;
      border: 1px solid $color-base;
    }

    &:focus {
      cursor: text;
      border: 1px solid $color-base;
      box-shadow: 0 0 5px rgba($color-dark, 0.5) inset;
    }
  }

  textarea {
    @extend .input;
    height: $form-input-width;
    vertical-align: top;
    width: $form-input-width * 2;
    width: 100%;
  }

  .required {
    border: 1px solid $color-red !important;
  }
}
