// list transitions
.list-transition {

  // simplified
  &-enter-active, &-leave-active {
    transition: all .3s cubic-bezier(.25,.8,.25,1);

    @include breakpoint-down(mobile-l) {
      transition: none;
    }
  }

  // transitions
  &-enter, &-leave-to {
    opacity: 0;
    transform: scale(0);
  }
}
