// page transitions
.page {
  &-leave-active, &-enter-active {
    transition: all .5s cubic-bezier(.25,.8,.25,1);

    @include breakpoint-down(mobile-l) {
      transition: none;
    }
  }

  &-enter, &-leave-to {
    opacity: 0;
  }
  &-leave, &-enter-to {
    opacity: 1;
  }

  // // set transition time & functions
  // &-leave-active, &-enter-active {
  //   // transition: all .3s ease;
  //   transition: all .5s cubic-bezier(.25,.8,.25,1);
  //   // transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  // }
  //
  // // exiting animation
  // &-enter, &-leave-to {
  //   opacity: 0;
  //   transform: scale(0);
  // }
  // // entering animation
  // &-leave, &-enter-to {
  //   opacity: 1;
  //   transform: scale(1);
  // }


  // using animations
  // &-enter-active {
  //   animation: bounce-in .5s;
  // }
  //
  // &-leave-active {
  //   animation: bounce-in .5s reverse;
  // }
  //
  // @keyframes bounce-in {
  //   0% {
  //     opacity: 0;
  //     transform: scale(0);
  //   }
  //   50% {
  //     transform: scale(1.2);
  //   }
  //   100% {
  //     opacity: 1;
  //     transform: scale(1);
  //   }
  // }
}
