.sale {
  position: relative;

  &:after {
    content: 'Sale';
    display: inline-block;
    position: absolute;
    padding: .3rem;
    color: $color-light;
    background-color: $color-green;
    border-bottom: 2px solid darken($color-green, 20%);
    top: 2rem;
    left: 0;
  }
}

.new {
  position: relative;

  &:before {
    content: 'New';
    display: inline-block;
    position: absolute;
    padding: .3rem;
    color: $color-light;
    background-color: $color-red;
    border-bottom: 2px solid darken($color-red, 20%);
  }
}
