img[lazy=loading], div[lazy=loading]  {
  @include transition;
  background: linear-gradient(135deg, $color-light, $color-base-light);
  opacity: .2;
}
img[lazy=error], div[lazy=error] {
  background-color: rgba($color-dark, .75);
}
img[lazy=loaded], div[lazy=loaded] {
  @include transition;
  opacity: 1;
}
