// vue noritications
.notifications {
  top: 60px !important;
  z-index: 10px !important;
}
.vue-notifications {
  padding: 1rem;
  top: 4.5rem;
  right: .5rem;
  font-size: .75em;

  color: #000;
  background: #fff;
  border-right: 5px solid $color-base-dark;

  &.base {
    background: $color-base;
    border-right-color: $color-base-dark;
    color: $color-light;
  }

  &.info {
    background: #44A4FC;
    border-right-color: #187FE7;
    color: $color-light;
  }

  &.common {
    background: $color-lightgrey;
    border-right-color: $color-grey;
  }

  &.warning {
    background: #ffb648;
    border-right-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-right-color: #B82E24;
  }

  &.success, &.ok {
    background: #68CD86;
    border-right-color: #42A85F;
  }
}
