<template>
  <main class="page page-shows auto-width">
    <div class="inner">
      <h1>SHOWS</h1>
      <p>This section of Akmodan represents a shows component. The page makes the cal to retrieve the data, from which point the shows are reactively displayed here.<br> Go ahead and click around.</p>
      <label class="form">
        <span>Search: </span>
        <input class="input" type='text' v-model="search" v-on:keyup="doSearch()" v-on:keyup.escape="search=''" />
      </label>
      <label>
        <span>Year: </span>
        <Dropdown :name="'shows-year'" :feed="yearsComputed" :selected="categoryComputed ? yearsComputed.indexOf(yearComputed) : null "/>
      </label>
      <CategoriesComponent :list="categoriesComputed" param="genre"/>
      <div v-if="!feedComputed.length" class="margin">
        <span>No Search results</span>
      </div>
      <div name="list-transition" class="shows flexbox">
        <div class="show" v-for="(item, key) in feedComputed" :key="key">
          <div class="image" v-lazy:background-image="item.image.medium" @click="goToShow(item.id)">
            <div class="info">
              <div class="info-box">
                <nuxt-link :to="'/shows/id/'+item.id">
                  <h5 class="title ellipsis">{{ item.name }} ({{item.premiered.split('-')[0]}})</h5>
                </nuxt-link>
                <div class="summary" v-html="item.summary">
                </div>
                <p class="rating">
                  <span>Score: {{item.rating.average}}/10</span>
                  <icon class="icon" name="star" stroke-width="1"/>
                </p>
                <div class="genres">
                  <span v-for="genre in item.genres" class="genre">{{genre}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import Dropdown from '~/components/atoms/Dropdown'
import StarRating from '~/components/atoms/StarRating'
import CategoriesComponent from '~/components/atoms/CategoriesComponent'
export default {
  layout: 'dark',
  data () {
    return {
      search: null,
      searchResults: null,
      year: this.$route.query.year || null,
      feed: this.showsFeed || null,
      feedMaxItems: 50,
      showsFeed: this.$store.state.showsFeed
    }
  },
  methods: {
    doSearch () {
      if (this.search.length < 3) return
      // TODO: perform another call if needed
      // const results = await this.$axios.$get('http://api.tvmaze.com/search/shows?q=' + this.search)
      const results = this.showsFeed.filter(item => {
        const query = this.search.toLowerCase()
        const name = item.name.toLowerCase()
        const summary = item.summary.toLowerCase()
        return (name.indexOf(query) > -1 || summary.indexOf(query) > -1)
      })
      this.searchResults = results
    },
    goToShow (id) {
      if (!id) return
      this.$router.replace('/shows/id/' + id)
    }
  },
  computed: {
    feedComputed () {
      let newList = this.showsFeed
      if (this.yearComputed && this.year) {
        newList = this.showsFeed.filter(item => {
          return item.premiered.indexOf(this.yearComputed) === 0
        })
      }

      if (this.categoryComputed) {
        newList = this.showsFeed.filter(item => {
          return item.genres.includes(this.categoryComputed)
        })
      }

      if (this.searchResults && this.search) {
        newList = this.searchResults
      }

      return newList.slice(0, this.feedMaxItems)
    },
    categoriesComputed () {
      let arr = []
      this.showsFeed.filter(item => {
        let genres = item.genres
        for (let genre of genres) {
          if (!arr.includes(genre)) {
            arr.push(genre)
          } else {
            return null
          }
        }
      })
      return arr.sort()
    },
    yearsComputed () {
      let arr = []
      this.showsFeed.filter(item => {
        const year = item.premiered.split('-')[0]
        if (!arr.includes(year)) {
          arr.push(year)
        } else {
          return null
        }
      })
      return arr.sort()
    },
    categoryComputed () {
      const genre = this.$route.query.genre || null
      if (this.categoriesComputed.includes(genre)) {
        return genre
      } else {
        return null
      }
    },
    yearComputed () {
      const yearString = this.year || null
      if (this.yearsComputed.includes(yearString)) {
        return yearString
      } else {
        return null
      }
    }
  },
  mounted () {
    this.$root.$on('shows-category', item => {
      this.search = ''
      this.year = ''
      this.category = item
      this.$router.replace('/shows?genre=' + item)
    })
    this.$root.$on('shows-year', item => {
      this.search = ''
      this.category = ''
      this.year = item
      this.$router.replace('/shows?year=' + item)
    })
  },
  head () {
    let pageTitle = this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    return {
      titleTemplate: `${pageTitle} - %s`
    }
  },
  components: {
    Dropdown,
    StarRating,
    CategoriesComponent
  }
}
</script>
<style lang="scss">
$shows-items-tablet: 3;
$shows-items-desktop: 4;
.shows {
  margin: 0 -.5rem;
  color: $color-light;

  .show {
    padding: .5rem;
    width: 50%;

    @include breakpoint-up(mobile-l) {
      padding: 1rem;
      width: calc(100% / #{$shows-items-tablet});
    }

    @include breakpoint-up(desktop) {
      padding: 2rem;
      width: calc(100% / #{$shows-items-desktop});
    }

    .image {
      position: relative;
      padding-top: 140%;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        .info {
          // background: inherit;
          transform: translate3d(0, 0, 0);
          &:before {
          }
        }
        .info-box {
          margin: 3rem auto;
          opacity: 1;
          top: .5rem;
          // background: inherit;
        }
      }
    }

    .info {
      @include transition;
      position: absolute;
      padding: 0;
      margin: 0;
      bottom: 0;
      transform: translate3d(0, 83.5%, 0);
      overflow: hidden;
      background-size: cover;
      background-position: bottom;
      background-attachment: fixed;
      height: 75%;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
      }

      .title {
        color: $color-light;
        margin-bottom: 0;
      }
      .rating {
        font-size: .80em;
        font-weight: bold;
        line-height: 1.1rem;

        span {

        }
        svg {
          height: 18px;
          width: 18px;
          vertical-align: sub;
          color: $color-yellow;
          fill: $color-yellow;
        }
      }
      .genres {
        font-size: .80em;
        font-weight: bold;
        line-height: 1.1rem;

        .genre {
          padding: .2rem;
          border: 1px solid $color-light;
          border-radius: $border-radius;
          margin-right: .1rem;
          display: inline-block;
        }

      }
      .summary {
        height: 120px;
        overflow: hidden;

        p {
          line-height: 1rem;
          font-size: .80em;
        }
      }

      .info-box {
        @include transition;
        width: 100%;
        padding: 1rem;
        position: relative;
        z-index: 2;
        background-color: rgba($color-dark, .5);
        border-radius: $border-radius;
        opacity: .8;
      }
    }
  }
}
</style>
