@charset "utf-8";

// base
*, *:before, *:after { box-sizing: inherit; }
::selection { background: $color-base-dark; color: $color-light; } // selection

html { box-sizing: border-box; }

html, body, form, fieldset {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: $color-text-body;
  font-family: $fonts-body;
  background-color: $color-site-background;
  font-weight: $fonts-weight-body;
  font-size: $text-size-body-mobile;

  @include breakpoint-up(tablet) {
    font-size: $text-size-body;
  }

  // text rendering
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: auto;
}

a {
  color: $color-link;
  text-decoration: none;
  padding-bottom: 1px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); //mobile tap color removal

  &:hover {
    text-decoration: underline;
    color: $color-link-hover;
  }
}

p {
  margin: 0;
  padding: .5rem 0;
  line-height: $text-line-height-mobile;

  @include breakpoint-up(tablet) {
    line-height: $text-line-height;
  }
}

img {
  max-width: 100%;
}

hr {
  margin: 1rem;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba($color-grey, 0), rgba($color-grey, 1), rgba($color-grey, 0));
}

ul, ol {
  margin: 0;
  padding-left: 0;

  li {
    list-style: none;
  }
}

h1 { font-size: 2.2em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

@include headers {
  color: $color-text-headers;
  margin-top: 0;
  margin-bottom: .5rem;
  padding-top: .5rem;
  font-family: $fonts-headers;
  font-weight: $fonts-weight-headers;
  text-align: center;
}

form {
  display: inline-block;
}
