<template>
  <main class="page page-news auto-width">
    <div class="inner">
      <h1 class="title">{{this.category}} news</h1>
      <news-app :feed="data.feed" :category="this.category" :showCategories="false" :ads="true" :showPages="false"/>
    </div>
  </main>
</template>

<script>
import NewsApp from '~/components/organs/NewsApp'

export default {
  async asyncData ({ app }) {
    let feedUrl = 'https://api.myjson.com/bins/1d9lr5'
    let data = await app.$axios.$get(feedUrl)
    return { data }
  },
  validate ({ params, store }) {
    let categories = store.state.categoryPresets
    return categories.includes(params.cat)
  },
  data () {
    return {
      category: this.$route.params.cat || null
    }
  },
  head () {
    let pageName = this.$route.name.split('-')[0]
    let catName = this.$route.params.cat.charAt(0).toUpperCase() + this.category.slice(1)
    return {
      titleTemplate: `${catName} ${pageName.charAt(0).toUpperCase() + pageName.slice(1)} @ %s`
    }
  },
  components: {
    NewsApp
  }
}
</script>

<style scoped>
.player {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
}
</style>
