<template>
  <main class="page-logout">
    <div class="inner padding">
      <div class="icon text-center">
        <icon name="log-out" stroke-width="1" />
      </div>
      <h2>Logging out.</h2>
      <h3>please wait...</h3>
    </div>
  </main>
</template>

<script>
import { unsetToken } from '~/plugins/auth'
import { logout } from '~/plugins/lock'

export default {
  mounted () {
    unsetToken()
    logout()
  }
}
</script>
<style lang="scss">
.page-logout {
  align-items: center;
  justify-content: center;

  .icon {
    height: 4rem;
    margin: 0 0 .5rem;
    svg {
      width: 5rem;
    }
  }

  .starter {
    width: 20rem;
    padding: 1rem;
  }

  .login {
    padding: .5rem 0;
  }
}
</style>
