<template>
  <main class="page-sign-in">
    <div class="inner">
      <div class="padding">
        <div class="icon text-center">
          <icon name="unlock" stroke-width="1" />
        </div>
        <h1>Signing in.</h1>
        <h2>please wait...</h2>
        <h3>Taking you to <b>{{ referrer }}</b></h3>
      </div>
    </div>
  </main>
</template>

<script>
import { setToken, checkSecret, extractInfoFromHash } from '~/plugins/auth'
export default {
  async asyncData ({ query }) {
    return { query }
  },
  data () {
    return {
      user: this.$store.getters.loggedUser || { name: 'Amigo' },
      referrer: this.$route.query.ref || '/'
    }
  },
  computer: {
  },
  mounted () {
    const { token, secret } = extractInfoFromHash()
    if (!checkSecret(secret) || !token) {
      console.error('Something happened with the Sign In request')
      this.$router.replace(this.referrer)
    }
    setToken(token)
    // redirect user back to referrer or root.
    this.$router.replace(this.$route.query.ref)
  }
}
</script>
<style lang="scss">
.page-sign-in {
  .icon {
    height: 5rem;
    margin: 0 0 .5rem;
    svg {
      width: 5rem;
    }
  }
}
</style>
