<template>
  <main class="page page-login padding flexbox">
    <div class="starter">
      <mq-layout mq="mobile-l+">
        <div class="icon text-center">
          <icon name="log-in" stroke-width="1" />
        </div>
        <h1>Log In</h1>
        <h3>You are not autorized to view this page.</h3>
        <h5>Additionally you can create an account.</h5>
      </mq-layout>

      <mq-layout mq="mobile">
        <div class="icon text-center">
          <icon name="log-in" stroke-width="1"  />
        </div>
        <h1>Log In</h1>
        <h5>Additionally you can create an account.</h5>
      </mq-layout>

    </div>
    <Login/>
  </main>
</template>

<script>
import Login from '~/components/molecules/Login'

export default {
  components: {
    Login
  }
}
</script>

<style lang="scss">

.page-login {
  min-height: 70vh;
  align-items: center;
  justify-content: center;

  .icon {
    height: 4rem;
    margin: 0 0 .5rem;

    @include breakpoint-up(mobile-l) {
      height: 8rem;
    }
    svg {
      width: 5rem;
    }
  }

  .starter {
    width: 20rem;
    padding: 1rem;
  }

  .login {
    padding: .5rem 0;
  }

  &+footer {
    min-height: 30vh;
  }
}
</style>
