<template>
  <div class="category">
    <h1>{{ id }}</h1>
  </div>
</template>

<script>
export default {
  validate ({ params, store }) {
    return /^\d+$/.test(params.id)
  },
  data () {
    return {
      id: this.$route.params.id || null
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
