<template>
  <main class="page page-users auto-width">
    <h1>Users</h1>
    <div class="inner container">
      <div class="pages text-center">
        <nuxt-link class="btn" v-if="page > 1" :to="'?page=' + (page - 1)">&lt; Prev</nuxt-link>
        <a v-else class="btn btn--disabled">&lt; Prev</a>
        <span class="btn btn--disabled">{{ page }}/{{ totalPages }}</span>
        <nuxt-link class="btn" v-if="page < totalPages" :to="'?page=' + (page + 1)">Next &gt;</nuxt-link>
        <a v-else class="btn btn--disabled">Next &gt;</a>
      </div>
      <ul>
        <li v-for="user in users" :key="user.id">
          <img :src="user.avatar" class="avatar" />
          <span>{{ user.first_name }} {{ user.last_name }}</span>
        </li>
      </ul>
    </div>
  </main>
</template>

<script>
export default {
  transition (to, from) {
    if (!from) return 'slide-left'
    return +to.query.page < +from.query.page ? 'slide-right' : 'slide-left'
  },
  async asyncData ({ query, app }) {
    const page = +query.page || 1
    const data = await app.$axios.$get(`https://reqres.in/api/users?page=${page}`)

    return {
      page: +data.page,
      totalPages: data.total_pages,
      users: data.data
    }
  },
  methods: {
    next () {

    },
    prev () {

    }
  }
}
</script>

<style scoped>
a {
  margin: 0 1em;
}
a.disabled {
  color: #ccc;
}
ul {
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 400px;
  padding-top: 40px;
}
li {
  list-style-type: none;
  width: 400px;
  border: 1px #ddd solid;
  overflow: hidden;
}
li img {
  float: left;
  width: 100px;
  height: 100px;
}
li span {
  display: inline-block;
  padding-top: 40px;
  text-transform: uppercase;
}
.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}
</style>
