<template>
  <main class="page page-profile content" v-if="loggedUser">
    <div class="inner text-center">
      <img class="profile-image" :src="loggedUser.picture"/>
      <h3>Hello, {{ loggedUser.name ? loggedUser.name : loggedUser.nickname }}!</h3>
      <p>This is secure profile page! No one can see this but you!</p>
      <p><nuxt-link to="/auth/sign-off" class="link">sign off</nuxt-link></p>
      <h3>Notifications ({{ notifications.length }})</h3>
      <notification-list :feed="notifications" /><br><br>
    </div>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import NotificationList from '~/components/molecules/NotificationList'

export default {
  head () {
    let count = (this.notifications.length > 0) ? '(' + this.notifications.length + ')' : ''
    return {
      titleTemplate: `${count} %s`
    }
  },
  middleware: 'authenticated',
  computed: {
    ...mapGetters(['loggedUser', 'isAuthenticated', 'notifications'])
  },
  components: {
    NotificationList
  },
  methods: {
    changeProfilePic () {
      // TODO: build profile pic changer
    }
  }
}
</script>

<style lang="scss">
.content {
  padding-top: 20px;

  img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin: 15px 0;
  }
}
</style>
