<template>
  <main class="page page-news auto-width">
    <div class="inner">
      <h1>NEWS</h1>
      <p>This section of Akmodan represents a news component. The component receives the news feed as a prop, from which the articles are reactively displayed here.<br> Go ahead and click around.</p>
      <news-app :feed="newsFeed" :showCategories="true" :ads="true"/>
    </div>
  </main>
</template>

<script>
import NewsApp from '~/components/organs/NewsApp'

export default {
  data () {
    return {
      baseUrl: process.env.baseUrl,
      newsFeed: this.$store.state.newsFeed
    }
  },
  head () {
    let pageTitle = this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    return {
      titleTemplate: `${pageTitle} - %s`
    }
  },
  components: {
    NewsApp
  }
}
</script>
