<template>
  <main class="page-blog auto-width">
    <div class="inner">
      <p>Blog {{ name }}</p>
      <nuxt-link to="/">Home page</nuxt-link>
    </div>
  </main>
</template>

<script>
export default {
  middleware: 'authenticated',
  mounted () {
  }
}
</script>
