<template>
  <aside v-if="ads && (key % adsPlacementInterval === adsStartAt) && ($mq === 'tablet' || $mq === 'tablet-l' || $mq=== 'desktop')" class="ad bg-grey">
    <h4 class="title">Have your mac checked by a proffesional</h4>
    <img src="/img/slides/7.jpg">
    <p class="body">Our service desk crew is standing by to receive all your questions and issues. Just give them a call.</p>
    <a class="button">Service Desk</a>
  </aside>
</template>
