<template>
  <div class="auto-complete">
    <input v-focus v-model="query" placeholder="Shows..." class="input" @keyup.enter="getResults()" @click="doToggle()" @focus="$event.target.select()" @blur="doToggle()">
    <ul v-if="searchOpen" class="results">
      <p v-if="!data"><b>No</b> results for "{{ query }}"</p>
      <li v-for="(item, index) in data" :key="index" :class="{ selected: index === highlighted }">
        <a>{{ item['show'].name }}</a>
      </li>
    </ul>
    <hotkeys :keys="['ArrowDown']" :action="() => highlightItem(1)"/>
    <hotkeys :keys="['ArrowUp']" :action="() => highlightItem(-1)"/>
  </div>
</template>
<script>
import Hotkeys from '~/components/Hotkeys'
export default {
  props: {
    api: {
      type: String,
      default: null
  },

  },
  data() {
    return {
      data: [],
      maxResults: 10,
      searchOpen: false,
      highlighted: -1,
      query: this.$route.query.search || ''
    }
  },
  methods: {
    async getResults() {
      if (!this.query || !this.api) {
        return
      }
      try {
          const {data} = await this.$axios.get(`${this.api}${this.query}`)
          this.data = data
          this.searchOpen = true
        } catch (e) {
          this.errors.push(e)
        }
    },
    highlightItem(position) {
      this.highlighted += position
      if (this.highlighted >= this.data.length) {
        this.highlighted = 0
      }
      else if (this.highlighted < 0) {
        this.highlighted = this.data.length-1
      }
      this.query = this.data[this.highlighted] ? this.data[this.highlighted].show.name : this.query
    },
    doToggle() {
      if (this.data.length) {
        this.searchOpen = !this.searchOpen
      }

    }
  },
  computed: {
    feedComputed() {
      return this.data.slice(0, this.maxResults)
    }
  },
  components: {
    Hotkeys
  }
}
</script>

<style lang="scss">
.auto-complete {
  position: relative;
  display: inline-block;

  .results {
    margin: 0;
    padding-left: 0;
    position: absolute;
    width: 100%;
    background-color: $color-light;
    border: 1px solid $color-grey;
    list-style-type: none;
    li {
      a {
        display: block;
        padding: .5rem;
      }

      &.selected {
        background-color: steelblue;
        a {
          color: $color-light;
        }
      }
    }
  }
}
</style>
