<template>
  <section class="boxes">
    <div class="inner flexbox">
      <div class="box card-0" v-for="item in feed">
        <h5>{{item.title}}</h5>
        <div class="img" :class="{new: item.new, sale: item.sale}">
          <img v-lazy="item.img" />
        </div>
        <p class="desc">{{item.desc}}</p>
        <div class="text-center">
          <a class="btn">{{item.button}}</a>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    items: {
      type: Number
    }
  },
  data () {
    return {
      feed: [{
        title: 'iPhone X',
        desc: 'Say hello to the future.',
        img: '/img/boxes/iphonex.jpg',
        button: 'shop now',
        sale: true,
        new: true
      },
      {
        title: 'Macbook Pro 13"',
        desc: 'Get the best laptop off all time.',
        img: '/img/slides/7.jpg',
        button: 'learn more',
        sale: true
      },
      {
        title: 'iPad Pro',
        desc: 'This is the iPad for you.',
        img: '/img/boxes/ipad.jpg',
        button: 'Information',
        new: true
      },
      {
        title: 'iMac Pro',
        desc: 'Get the best computer of 2018.',
        img: '/img/boxes/imac-pro.jpg',
        button: 'summer sale',
        sale: true
      }]
    }
  },
  computed: {
    feedComputed () {
    }
  }
}
</script>
<style lang="scss">
.boxes {

  .inner {
    justify-content: center;
  }

  .box {
    position: relative;
    padding: .5rem;
    width: 100%;

    @include breakpoint-up(mobile-l) {
      max-width: calc(50%);
      padding: 1rem;
    }
    @include breakpoint-up(desktop) {
      max-width: calc(25%);
    }

  }

  .desc {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .img {
    border-radius: $border-radius;
    overflow: hidden;
    height: 8rem;

    @include breakpoint-up(tablet) {
      height: 9rem;
    }
    @include breakpoint-up(desktop) {
    }
  }
}
</style>
