<template>
  <div class="features flexbox">
    <div class="feature card-0" v-for="item in feedComputed" data-tilt="" data-tilt-glare="true" data-tilt-max-glare="0.5" data-tilt-speed="400" data-tilt-scale="1.1" data-tilt-max="20" data-tilt-perspective="500" style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
      <div class="icon" :class="item.class">
        <icon :name="item.img" stroke-width="1"></icon>
      </div>
      <h3>{{item.title}}</h3>
      <p class="text-center desc">{{item.desc}}</p>
      <div class="text-center read-more">
        <a href="#" class="read-more">{{item.button}} &gt;</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: Number
    },
    feed: {
      type: Array
    }
  },
  data () {
    return {
      feedFallback: [{
        title: 'Light',
        desc: 'Use of code splitting ensures users only pull in relevant data.',
        img: 'feather',
        button: 'See demo',
        class: 'color-base'
      },
      {
        title: 'Fast',
        desc: 'Cutting edge Front-end technology allows for fast page switching.',
        img: 'zap',
        button: 'Learn more',
        class: 'color-orange'
      },
      {
        title: 'Responsive',
        desc: 'Akmodan is fully responsive and works flawlessly on mobile.',
        img: 'smartphone',
        button: 'Learn more',
        class: 'color-green'
      },
      {
        title: 'Scalable',
        desc: 'Build large scale applications with easy and joy.',
        img: 'layers',
        button: 'More info',
        class: 'color-magenta'
      }]
    }
  },
  computed: {
    feedComputed () {
      return this.feed ? this.feed : this.feedFallback
    }
  }
}
</script>
<style lang="scss">
.features {
  justify-content: center;

  .feature {
    padding: 0 .5rem;
    margin: .5rem 0;
    width: 100%;

    @include breakpoint-up(mobile-l) {
      width: calc(50%);
    }
    @include breakpoint-up(tablet) {
      width: calc(100% / 4);
    }

    .icon {
      color: $color-base;
      border-radius: $border-radius;
      overflow: hidden;
      height: 5rem;

      @include breakpoint-up(tablet) {
        height: 7rem;
      }

      @include breakpoint-up(tablet) {
        height: 7rem;
      }

      svg {
        width: 100%;
      }
    }

    &:hover {
      .icon {
      }
      .btn {
      }
    }
  }

  .desc {
    line-height: 1rem;
  }

  .read-more {
    color: $color-dark;
    padding: .5rem;
  }

  .btn {
    background-color: $color-grey2;
    width: 100%;

    &:hover {
      color: $color-light;
      background-color: $color-grey3;
      text-shadow: none;
    }
  }
}
</style>
