<template>
  <div class="feedback-module" :class="{ open: isOpen }" v-click-outside="closeMenu">
      <div class="menu" :class="{ open: isOpen }">
        <div class="menu--inner">
          <h5>{{button.text}}</h5>
          <form class="form">
            <label>
              <span>Name:</span>
              <input name="name" type="text" v-model="session.name" />
            </label>
            <label>
              <span>E-mail:</span>
              <input name="email" type="email" v-model="session.email" />
            </label>
            <div class="text-center">
              <button class="button" @click="startChat()" :class="{ 'button--disabled': (!session.name || !session.email ) }" :disabled="!session.name || !session.email">Start chat session</button>
            </div>
          </form>
        </div>
      </div>

      <div class="text-right">
        <a class="button icon" :title="button.text" @click="toggleOpen()" :class="{ open: isOpen }">
          <icon name="message-circle" stroke-width="1" class="chat-icon" />
          <icon name="x" stroke-width="1" class="close-icon" />
          <user-status-indicator :status="0" :class="{ open: isOpen }" />
        </a>
      </div>
  </div>
</template>
<script>
import NotificationCount from '~/components/atoms/NotificationCount'
import UserStatusIndicator from '~/components/atoms/UserStatusIndicator'

export default {
  methods: {
    toggleOpen () {
      this.isOpen = !this.isOpen
    },
    closeMenu () {
      if (this.isOpen) {
        this.isOpen = false
      }
    },
    startChat () {
    }
  },
  data () {
    return {
      session: {
        name: '',
        email: ''
      },
      isOpen: false,
      button: {
        text: 'give us feedback'
      }
    }
  },
  components: {
    NotificationCount,
    UserStatusIndicator
  }
}
</script>
<style lang="scss">
.feedback-module {
  position: relative;
  z-index: 1;

.button.icon {
  @include transition;
  right: 1rem;
  bottom: 1rem;
  position: fixed;
  display: inline-block;
  width: $button-height * 1.5;
  height: $button-height * 1.5;
  border-radius: 50%;
  user-select: none;
  border-bottom-right-radius: 0;
  transform: rotate(0);

  svg {
    width: 100%;
    height: 100%;
  }

  .chat-icon {
    @include transition;
    opacity: 1;
    transform: scaleX(-1);
  }

  .close-icon {
    @include transition;
    opacity: 0;
  }

  .user-status {
    @include transition;
    opacity: 1;
  }

  &.open {
    transform: rotate(-90deg);

    .chat-icon {
      opacity: 0;
      height: 0;
      width: 0;
    }

    .close-icon {
      opacity: 1;
    }

    .user-status {
      opacity: 0;
    }
  }
}

.menu {
  @include transition();
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  padding: .5rem;
  border-radius: $border-radius * 2;
  max-height: 20rem;
  width: calc(100% - 2rem);
  margin-bottom: .5rem;
  box-shadow: 0 0 3px rgba($color-dark, .5);
  background-color: $color-light;
  opacity: 0;
  transform-origin: bottom right;
  user-select: none;
  border-bottom-right-radius: 0;
  transform: scale3d(0,0,0);

  @include breakpoint-up(mobile-l){
    max-height: 20rem;
    width: 15rem;
  }

  input {
    width: 100%;
  }

  &.open {
    opacity: 1;
    z-index: 2;
    transform: scale3d(1,1,1);
  }
 }
}
</style>
