<template>
  <div class="hero">
    <div class="item" v-for="(item, key) in feedComputed" v-lazy:background-image="item.img" :class="{ active: activeItem === key }">
      <div class="inner">
        <h1 class="title">{{ item.title }}</h1>
        <p class="desc">{{ item.desc}}</p>
        <div class="text-center">
          <a class="btn">{{ item.button }}</a>
        </div>
      </div>
    </div>
    <ul class="pagination" v-if="feedComputed.length > 1">
      <li v-for="(item, key) of feedComputed">
        <a class="button" @click="setItem(key)" :class="{ 'button--disabled': key == activeItem }">{{ key + 1 }}</a>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    feed: {
      type: Array
    },
    timer: {
      type: Number
    },
    start: {
      type: Number
    }
  },
  data () {
    return {
      activeItem: this.start || 0,
      timeout: this.timer || 5000,
      userInteracted: false,
      feedFallback: [{
        title: 'Beautiful Colors',
        desc: 'This section represents a hero banner component.',
        img: '/img/slides/2.jpg',
        button: 'CLICK ME!'
      },
      {
        title: 'Technology!',
        desc: 'Close up.',
        img: '/img/slides/5.jpg',
        button: 'BUTTON!'
      },
      {
        title: 'Some fish in a pond',
        desc: 'Looks cool no?',
        img: '/img/slides/fish.jpg',
        button: 'DON\'T MISS OUT!'
      }]
    }
  },
  computed: {
    feedComputed () {
      return this.feed ? this.feed : this.feedFallback
    }
  },
  methods: {
    setItem (key) {
      this.activeItem = key
      this.userInteracted = true
    },
    next () {
      if (this.activeItem === this.feedComputed.length - 1) {
        this.activeItem = 0
      } else {
        this.activeItem++
      }
    }
  },
  mounted () {
    let timer = setInterval
    timer(() => this.userInteracted ? clearTimeout(timer) : this.next(), this.timeout)
  }
}
</script>
<style lang="scss">
$banner-height-mobile: 30vh;
$banner-height-mobile-l: 30vh;
$banner-height-tablet: 50vh;
$banner-height-desktop: 75vh;
$banner-height-desktop-l: 80vh;

.hero {
  height: $banner-height-mobile;
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 0 100px #000 inset;
  perspective: 500px;

  // fancy carbon background
  background: radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 16px 16px,
  radial-gradient(rgba($color-light,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba($color-light,.1) 15%, transparent 20%) 16px 17px;
  background-size: 32px 32px;
  background-color: $color-darkgrey;

  @include breakpoint-up(mobile-l){
    height: $banner-height-mobile-l;
  }

  @include breakpoint-up(tablet){
    height: $banner-height-tablet;
  }

  @include breakpoint-up(desktop){
    height: $banner-height-desktop;
  }

  @include breakpoint-up(desktop-l){
    height: $banner-height-desktop-l;
  }

  .item {
    width: 100%;
    @include transition($duration: 1.2s);
    text-align: center;
    position: absolute;
    height: 100%;
    background-size:cover;
    color: $color-light;
    text-shadow: 0 0 5px rgba($color-dark, .5);
    opacity: 0;
    // background-attachment: fixed; // genious!!!

    @include breakpoint-up(desktop){
      transform: translate3d(150%, 0, 0) rotate3d(1, 0, 1, -90deg);
    }

    .inner {
      padding: .5rem;
      width: 100%;
      position: absolute;

      @include breakpoint-up(mobile-l){
        top: calc(100% / 4);
      }

      @include breakpoint-up(tablet){
        top: calc((100% / 3) - 2rem);
      }
    }

    .title {
      color: $color-light;
    }

    .desc {
      margin-bottom: .5rem;
      padding-left: .5rem;
      background-color: rgba($color-dark, .5);
    }

    &.active {
      opacity: 1;
      @include breakpoint-up(desktop){
        transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
      }
    }

  }

  .pagination {
    width: 100%;
    position: absolute;
    top: .5rem;
    right: .5rem;
    text-align: right;
    margin: .5rem 0;
    z-index: 1;

    li {
      display: inline-block;
      margin-right: .5rem;
      opacity: .5;

      &:hover {
        opacity: 1;
      }

      &.active {
        a {
          color: $color-dark;
          background-color: $color-light;
        }
      }
    }
  }
}
</style>
