<template>
  <div id="auth0-lock" :class="{ simplified: simple }" class="login" />
</template>

<script>
import { show } from '~/plugins/lock'
export default {
  props: {
    simple: {
      type: Boolean,
      default: false
    }
  },
  middleware: 'anonymous',
  mounted () {
    if (!this.$store.getters.loggedUser) show('auth0-lock')
  }
}
</script>

<style lang="scss">
#auth0-lock {
  display: inline-block;

  &.simplified {
    .auth0-lock-content {
      padding: 1rem !important;
    }
    p {
      display: none;
    }
    .auth0-lock.auth0-lock .auth0-lock-cred-pane {
      background: none;
    }
    .auth-lock-social-buttons-pane {
      padding-bottom: .25rem;
    }
    .auth0-lock-social-button {
      display: inline-block;
      width: 40px;
      margin: 0 1rem;
    }
    .auth0-lock-tabs {
      background: none;
    }
    .auth0-lock-last-login-pane {
      .auth0-lock-social-button {
        width: 100% !important;
      }

      p {
        display: inline-block;
        color: $color-light;
      }
    }
    .auth0-lock-input-password {
      margin-bottom: 0;
    }
  }
}

.auth0-lock {

  .auth0-lock-header-bg {
      background: none !important;
  }
  .auth0-lock-header {
    display: none !important;
    img {
      display: none !important;
    }
  }
  .auth0-lock-name {
    display: none !important;
  }
  .auth0-lock-opened-in-frame {
    margin: 0 !important;
  }
  .auth0-lock-cred-pane {
    text-align: center !important;
  }
  .auth0-lock-submit {
    display: inline-block !important;
    background: linear-gradient(135deg, $color-base-light, $color-button);
    padding: 0 !important;
    margin-left: 0 auto !important;
    width: 268px !important;
    height: $button-height !important;
    line-height: $button-height !important;
    border-radius: $border-radius !important;
    span {
    }

    &:hover {
      background: linear-gradient(135deg, $color-base-light, $color-base, $color-button-hover);
      color: $color-light;
    }
  }
  &.auth0-lock {
    z-index: 1 !important;
  }
  .auth0-lock-alternative {
    margin-top: .5rem !important;
  }
  .auth0-lock-form p {
    margin-bottom: .5rem !important;
  }
  .auth0-lock-pane-separator {
    padding-top: .5rem !important;
  }

  .auth0-lock-content {
    padding: 1rem !important;
    padding-bottom: .5rem !important;
  }

  .auth0-lock-tabs-container {
    margin: 0 0 1rem !important;
    li {
      &.auth0-lock-tabs-current {
        box-shadow: 0 2px 0 0 $color-base !important;
        a {
        }
      }
    }
  }
}
</style>
