<template>
  <nav class="navigation">
    <div class="navigation__inner">
      <ul class="navigation__list">
        <li v-for="item in getNavFeed" :class="{ active : ($route.path.split('/')[1] === item.name.toLowerCase())}">
          <nuxt-link :to="item.url" exact>
            <span>{{item.name}}</span>
          </nuxt-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedUser', 'getNavFeed'])
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  &__inner {
    display: none;
    overflow: hidden;
    vertical-align: middle;

    @include breakpoint-up(tablet) {
      display: inline-block;
    }

  }
  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-down(mobile) {
    }

    li {
      a {
        border-radius: $border-radius;
        display: inline-block;
        padding: .5rem;
        user-select: none;
        font-family: $fonts-nav;
        span {
          white-space: pre;
        }
      }

      &:hover {
        a {
          text-decoration: underline;
          color: $color-base;
        }
      }
      &.active {
        a {
          color: $color-light;
          background-color: $color-button;
          text-decoration: none;
        }
      }
    }
  }
}
</style>
