<template>
  <div class="newsletter">
    <div class="inner text-center">
      <form class="form" action="">
        <h3>Receive the Akmodan newsletter!</h3>
        <p>Sign up to stay date with the latest news.</p>
        <input class="input" name="email" type="text" placeholder="Enter your email address here." />
        <button class="btn" type="button">Send</button>
      </form>
    </div>
  </div>
</template>
<script>

</script>
<style>
.newsletter {
  padding: 1.5rem 0 2.5rem;
}
</style>
