<template>
  <div class="notification-list" v-if="feed.length > 0">
    <div class="item" v-for="item in feedComputed" v-if="!item.seen" :class="'color-'+item.color+' '+'bg-'+item.color">
      <div class="type">
        <icon :name="item.type" stroke-width="1" class="icon"/>
      </div>
      <div class="meta">
        <h6 class="title text-left">{{item.title}} </h6>
        <p class="desc">{{item.desc}}</p>
      </div>
      <div class="close">
        <label>
          <input class="hidden" name="checkbox" type="checkbox" v-model="item.seen" />
          <icon class="icon" name="x" stroke-width="1"/>
        </label>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    max: {
      type: Number
    },
    feed: {
      type: Array,
      required: true
    }
  },
  computed: {
    feedComputed () {
      return this.max ? this.feed.slice(0, this.max) : this.feed
    }
  }
}
</script>
<style lang="scss">
.notification-list {
  max-width: 38rem;
  margin: 0 auto;
  text-align: left;

  .item {
    width: 100%;
    position: relative;
    background-color: $color-lightgrey;
    align-items: center;
    border-bottom: 1px dashed;
    margin-top: .5rem;

    .type {
      padding: .25rem;
      position: absolute;
      width: $button-height;
      height: $button-height;
      top: 1rem;
      left: .25rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .meta {
      padding-left: 3.5rem;
    }

    .title {
      font-weight: bold;
      color: inherit;
      margin-bottom: 0;
    }

    .desc {
      color: $color-grey3;
    }

    .close {
      position: absolute;
      top: .5rem;
      right: .5rem;

      label {
        display: inline-block;
        cursor: pointer;
      }

      &:hover {
        label {
          background-color: inherit;
          svg {

          }
        }
      }
    }
  }

}
</style>
