<template>
  <div class="">
    <ul class="pagination flexbox text-right" v-if="pagesComputed && showPages">
      <div v-if="pagesComputed.length > displayPages" class="flexbox">
        <li v-if="currentPage > 1">
          <nuxt-link :to="'/news?page=' + (currentPage - 1)" class="btn"><icon name="arrow-left-circle" stroke-width="1"/></nuxt-link>
        </li>
        <li v-else>
          <a class="btn btn--disabled"><icon name="arrow-left-circle" stroke-width="1"/></a>
        </li>
        <li v-for="(item, key) in pagesComputed" :class="{ active: (key + 1) == currentPage }">
          <nuxt-link :to="'/news?page=' + (key + 1)" class="btn" :class="{ 'btn--disabled': (key + 1) == currentPage || !currentPage }">{{key + 1}}</nuxt-link>
        </li>
        <li v-if="currentPage < pagesComputed.length">
          <nuxt-link :to="'/news?page=' + (currentPage + 1)" class="btn"><icon name="arrow-right-circle" stroke-width="1"/></nuxt-link>
        </li>
        <li v-else>
          <a class="btn btn--disabled"><icon name="arrow-right-circle" stroke-width="1"/></a>
        </li>
      </div>
      <li v-else v-for="(item, key) of pagesComputed" :class="{ active: (key + 1) == currentPage || !currentPage }">
        <nuxt-link class="btn" :to="'/news?page=' + (key + 1)" :class="{ 'btn--disabled': (key + 1) == currentPage || !currentPage }">{{ key + 1 }}</nuxt-link>
      </li>
    </ul>
  </div>
</template>
