<template>
  <div class="search-component" v-click-outside="closeSearch">
    <div class="search-icon" @click="toggleSearch()">
      <a class="icon">
        <icon name="search" stroke-width="1">{{ $store.state.mobileMenuOpen }}</icon>
      </a>
    </div>
    <div class="search-menu" v-if="isOpen">
      <form class="form" @submit.prevent="doSearch()">
        <label>
          <input type="text" placeholder="search" v-focus="isOpen" v-model="searchQuery"/>
        </label>
      </form>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      isOpen: false,
      searchQuery: ''
    }
  },
  methods: {
    toggleSearch () {
      this.isOpen = !this.isOpen
    },
    closeSearch () {
      this.isOpen = false
    },
    doSearch () {
      this.isOpen = false
      // this.$router.replace('/news?search=' + this.searchQuery)
      window.location = '/news?search=' + this.searchQuery
      this.searchQuery = ''
    },
    select (e) {
      e.target.setSelectionRange(0, this.text.length)
    }
  },
  directives: {
    focus: {
      inserted: function (el, binding) {
        if (binding.value) el.focus()
        else el.blur()
      },
      componentUpdated: function (el, binding) {
        if (binding.modifiers.lazy) {
          if (Boolean(binding.value) === Boolean(binding.oldValue)) {
            return
          }
        }
        if (binding.value) el.focus()
        else el.blur()
      }
    }
  }
}
</script>
<style lang="scss">
.search-component {
  position: relative;

  .search-icon {
    user-select: none;
    width: $button-height;
    height: $button-height;
    cursor: pointer;
  }

  .search-menu {
    position: fixed;
    width: 100%;
    right: 0;
    top: 60px;
    background-color: rgba($color-light, .85);
    padding: 1rem;

    @include breakpoint-up(tablet) {
      width: 20rem;
    }

    label {
      margin: 0;
    }

    input {
      width: 100%;
    }
  }
}

</style>
