<template>
  <nav class="breadcrumbs" v-if="$route.path !== '/'">
    <ul class="flexbox">
      <li class="item">
        <nuxt-link :to="'/'">Home</nuxt-link>
      </li>
      <li class="item">
        <icon name="chevrons-right" stroke-width="1"/>
      </li>
      <li class="item">
        <nuxt-link :to="'/'+feedComputed[0]">{{$route.path.split('/')[1]}}</nuxt-link>
      </li>
      <li class="item">
        <icon name="chevrons-right" stroke-width="1"/>
      </li>
      <li v-if="page" class="item">
        <span class="">{{ page }}</span>
      </li>
    </ul>
  </nav>
</template>
<script>
export default {
  props: {
    page: {
      type: String,
      default: null
    }
  },
  computed: {
    feedComputed () {
      const list = this.$route.name.split('-')
      return list
    }
  }
}
</script>
<style lang="scss">

.breadcrumbs {
  text-transform: capitalize;
  padding: 1rem 0;

  .list {
    list-style: none;
  }

  .item {
    margin-right: 1rem;
  }

  .exact-active {
    opacity: .2;
    color: $color-darkgrey;
  }
}
</style>
