<template>
  <div class="margin">
    <ul class="flexbox categories">
      <li class="item hidden">
        <nuxt-link :to="$route.path" rel="noindex follow" exact>All</nuxt-link>
      </li>
      <li v-for="item in list" class="item">
        <nuxt-link :to="baseLink + item" exact>
          <span>{{ item }}</span>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    list: {
      type: Array,
      required: true,
      default: null
    },
    param: {
      type: String,
      required: false,
      default: null
    }
  },
  data () {
    return {
      selection: this.$route.query[this.param] || null
    }
  },
  computed: {
    validSelection () {
      return this.list.includes(this.selection)
    },
    baseLink () {
      return this.$route.path + '?' + this.param + '='
    }
  }
}
</script>
<style lang="scss">
.categories {
  .item {
    a {
      border-radius: $border-radius;
      padding: .5rem;
      display: inline-block;
      text-shadow: 0 0 5px $color-dark;
      // color: $color-magenta;

      &:hover {
        // color: $color-base;
      }
    }
    .nuxt-link-active {
      background: linear-gradient(135deg, $color-base, $color-magenta);
      color: $color-light;
      text-decoration: none;
      text-shadow: none;
      cursor: default;

      &:hover {
        // color: $color-light;
      }
    }
  }
}
</style>
