<template>
  <div class="cc" v-if="!cookieVal">
    <div class="cc__text">
      <p id="cookieconsent:desc" class="cc__message">
        <span>This website uses cookies. This ensures that the website is working correctly for your best experience.</span>
      </p>
    </div>
    <div class="cc__compliance">
      <button @click="acceptCookie()" aria-label="dismiss cookie message" class="btn cc__dismiss">Understood</button>
    </div>
  </div>
</template>

<script>
import Cookie from 'js-cookie'

export default {
  data () {
    return {
      cookieName: 'cookieConsent',
      cookieVal: false,
      readCookie: Cookie.get('cookieConsent') || false
    }
  },
  methods: {
    acceptCookie () {
      this.cookieVal = true
      Cookie.set(this.cookieName, this.cookieVal)
    }
  },
  mounted () {
    if (this.readCookie) {
      this.cookieVal = this.readCookie
    }
  }
}
</script>

<style lang="scss">
.cc {
  background-color: $color-lightgrey;
  position: fixed;
  padding: .5rem;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  box-shadow: 0 0 5px rgba($color-dark, 0.2);
  border-radius: $border-radius;

  @include breakpoint-up(tablet){
    padding: 1rem;
    width: 60%;
    left: .5rem;
    bottom: .5rem;
  }

  @include breakpoint-up(desktop){
    width: 25rem;
  }

  &:hover {
  }

  &__compliance {
    text-align: center;

    .cc__dismiss {
      background-color: $color-base;
      color: $color-light;
      text-decoration: none;
      height: $button-height;
      width: 100%;
      border: 0;
      cursor: pointer;
    }
  }

  &__text {
    p {
      font-size: 0.85rem;
      line-height: 1rem;

      @include breakpoint-up(tablet){
        line-height: 1.5rem;
      }
    }
  }
}
</style>
