<template>
  <div class="dropdown" :class="{ open: isOpenDropdown }" v-click-outside="closeDropdown">
    <div class="label flexbox flexbox-space-between" @click="toggleDropdown()">
      <input v-if="selectionIndex !== -1" :name="name" type="hidden" :value="selectionObj[labelKey] || selectionObj">
      <span class="no-selection" v-if="selectionIndex === -1">&#8211;&#8211; Select &#8211;&#8211;</span>
      <span v-else>{{ selectionObj[labelKey] || selectionObj }}</span>
      <div class="icon arrow">
        <icon name="chevron-down" stroke-width="1" />
      </div>
    </div>
    <ul class="selection-list" :class="{ open: isOpenDropdown }">
      <li class="item" v-for="(item, key) in feed" @click="select(key)" :class="{ active: (key===selected || key===selectionIndex) }">
        <span>{{ item[labelKey] ? item[labelKey] : ( item || key ) }}</span>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
      default: 'dropdown'
    },
    feed: {
      type: Array,
      required: true
    },
    labelKey: {
      type: String,
      default: ''
    },
    selected: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      isOpenDropdown: false,
      selectionIndex: !isNaN(this.selected - parseFloat(this.selected)) ? this.selected : -1,
      selectionObj: !isNaN(this.selected - parseFloat(this.selected)) ? this.feed[this.selected] : null
    }
  },
  methods: {
    closeDropdown () {
      this.isOpenDropdown = false
    },
    toggleDropdown () {
      this.isOpenDropdown = !this.isOpenDropdown
    },
    select (index) {
      this.selectionIndex = index
      this.selectionObj = this.feed[index]
      this.$root.$emit(this.name, this.selectionObj)
      this.closeDropdown()
    }
  }
}
</script>
<style lang="scss" scoped>
.dropdown {
  @include transition;
  position: relative;
  min-width: $form-input-width;
  display: inline-block;
  user-select: none;
  border-radius: $border-radius;
  background: linear-gradient(180deg, $color-light, $color-lightgrey);
  box-shadow: 0px 1px 1px rgba($color-dark, 0.3);
  margin-right: 1rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 1px 1px rgba($color-base, 0.3), 0px 0px 0px 1px rgba($color-base,.5) inset;
    .label {
      .arrow {
        color: $color-base;
      }
    }
  }

  .label {
    position: relative;
    padding: 0 1rem;
    height: $button-height;
    line-height: $button-height;

    .arrow {
      @include transition;
      color: $color-grey2;
      transform: rotate3d(0, 0, 0, 0);

      svg {
        width: auto;
        height: auto;
      }
    }

    .no-selection {
      color: $color-grey2;
    }

    span {
      text-transform: capitalize;
      color: $color-text-body;
    }
  }

  .selection-list {
    @include transition;
    position: absolute;
    background: linear-gradient(180deg, $color-light, $color-lightgrey);
    width: 100%;
    z-index: 1;
    border-radius: $border-radius;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top center;
    overflow: hidden;
    border: 1px solid $color-base;

    .item {
      display: block;
      padding: 0 1rem;
      height: $button-height;
      line-height: $button-height;

      &:hover {
        background-color: rgba($color-base, .2);
        color: $color-dark;
      }

      &.active {
        background-color: $color-base;
        cursor: default;
        span {
          color: $color-light;
        }
      }

      span {
        pointer-events: none;
        text-transform: capitalize;
        color: $color-text-body;
      }
    }

    &.open {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &.open {
    box-shadow: 0px 1px 1px rgba($color-dark, 0.3), 0px 0px 0px 1px $color-base inset;
    .icon {
      transform: rotate3d(1, 0, 0 , 180deg);
    }
  }
}
</style>
