<template>
  <div class="hamburger-icon" @click="$store.commit('SET_MOBILE_MENU')">
    <a class="icon">
      <icon name="menu" stroke-width="1">{{ $store.state.mobileMenuOpen }}</icon>
    </a>
  </div>
</template>
<style lang="scss" scoped>
.hamburger-icon {
  display: none;
  user-select: none;
  cursor: pointer;
  margin-left: .5rem;

  @include breakpoint-down(mobile-l) {
    display: inline-block;
  }

  a {
    display: block;
    width: $button-height;
    height: $button-height;
  }
}

</style>
