<template>
  <div :class="'hotkey'+ keys.join('')"/>
</template>

<script>
export default {
  props: {
    keys: {
      type: Array,
      required: true,
      default: null
    },
    action: {
      type: Function,
      required: true
    }
  },
  mounted () {
    let myKeys = this.keys,
        action = this.action,
        called = false

    document.addEventListener("keydown", function (event) {
      if (!event.isTrusted && called) return
      let pressedKeys = myKeys.map(item => event[item] || event.key.toLowerCase() === item.toLowerCase())
      if (pressedKeys.every(item => item)) {
        event.preventDefault()
        action(myKeys)
        called = true
      }
    })
  }
}
</script>
