<template>
  <div class="loading" v-if="loading">
    <socket/>
  </div>
</template>

<script>
  import { Socket } from 'vue-loading-spinner'
  export default {
    data: () => ({
      loading: false
    }),
    methods: {
      start () {
        this.loading = true
      },
      finish () {
        this.loading = false
      }
    },
    components: {
      Socket
    }
  }
</script>

<style>
.loading {
  /* display: none; */
}
</style>
