<template>
  <div class="logo">
    <nuxt-link class="logo__inner" :to="'/'">
      <img id="akmodan" src="/img/akmodan.svg" />
    </nuxt-link>
  </div>
</template>

<script>
</script>

<style lang="scss">
$logo-width: 9rem;
$logo-height: $button-height;
$logo-color: $color-base;

.logo {
  overflow: hidden;
  height: $button-height;
  user-select: none;

  @include breakpoint-down(mobile) {
  }

  .logo__inner {
    display: block;
    height: $logo-height;

    img#akmodan {
      max-height: 100%;
    }

    &__slogan {
    }
  }
}
</style>
