<template>
  <span class="notification-count" v-if="count">
    <span>{{ count }}</span>
  </span>
</template>
<script>
export default {
  props: {
    count: {
      type: Number,
      required: true,
      default: null
    }
  }
}
</script>
<style lang="scss">
.notification-count {
  border-radius: $border-radius;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 1em;

  padding: 0 .3rem;
  color: $color-light;
  background: linear-gradient(135deg, lighten($color-red, 15%), $color-red, darken($color-red, 20%));
  box-shadow: -1px 1px 1px rgba($color-dark, .3), 0 -1px 0px rgba($color-dark, .2) inset, 0 1px 0px rgba($color-light, .2) inset;
}
</style>
