<template>
  <div class="star-rating">
    <div class="rating-total">
      <div class="stars flexbox">
        <icon class="star" name="star" stroke-width="1" :key="item" v-for="item in max"/>
      </div>
      <div class="rating" :style="styleComputed">
        <icon class="star-filled" name="star" stroke-width="1" :key="item" v-for="item in max"/>
      </div>
    </div>
    <!-- <span class="numbers">{{rating}} / {{max}}</span> -->
  </div>
</template>
<script>
export default {
  props: {
    max: {
      type: Number,
      default: 5
    },
    rating: {
      type: Number,
      required: true,
      default: null
    }
  },
  data () {
    return {
      userInput: null
    }
  },
  computed: {
    ratingComputed () {
      return this.rating
    },
    widthComputed () {
      return this.rating / this.max * 100 + '%'
    },
    styleComputed () {
      return {
        width: this.widthComputed
      }
    }
  }
}
</script>
<style lang="scss" scoped>
$star-rating-height: 24px;
.star-rating {
  display: inline-block;

  .rating-total {
    position: relative;
    width: $star-rating-height * 10;

    // empty stars
    .stars {
      position: absolute;
      z-index: 0;
      height: $star-rating-height;

      .star {
        color: $color-grey;
      }
    }

    .rating {
      z-index: 1;
      position: relative;
      overflow: hidden;
      height: $star-rating-height;

      .star-filled {
        display: inline-block;
        color: $color-yellow;
        fill: $color-yellow;
      }
    }
  }
}
</style>
