<template>
  <span class="user-status" v-if="status !== ''" :class="'bg-'+statusComputed.color">
    <span class="status-type">{{statusComputed.type}}</span>
  </span>
</template>
<script>
export default {
  props: {
    status: {
      type: Number,
      required: true,
      default: 3
    }
  },
  data () {
    return {
      statusTypes: [
        { type: 'Online', id: 0, color: 'green' },
        { type: 'Away', id: 1, color: 'orange' },
        { type: 'Busy', id: 2, color: 'red' },
        { type: 'Invisible', id: 3, color: 'magenta' },
        { type: 'Offline', id: 4, color: 'grey' }
      ]
    }
  },
  computed: {
    statusComputed () {
      const items = this.statusTypes.filter(item => item.id === this.status)[0]
      return items
    }
  }
}
</script>
<style lang="scss">
.user-status {
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  width: .75rem;
  height: .75rem;
  color: $color-light;
  box-shadow: 0 0 0 2px $color-light;

  &:hover {
    .status-type {
      display: block;
    }
  }

  .status-type {
    display: none;
    background-color: $color-dark;
    padding: 0 .5rem;
    position: absolute;
    top: -5px;
    left: -57px;
    border-radius: $border-radius;
    font-size: .85em;
    line-height: 20px;
    height: 20px;
  }
}
</style>
