<template>
  <div class="user-badge" v-click-outside="closeUserMenu">
    <div class="badge" @click="toggleMenu()">
      <!-- if user -->
      <a v-if="loggedUser" class="icon">
        <img :src="loggedUser.picture"/>
        <user-status-indicator :status="$store.state.userStatus.currentStatus" />
        <NotificationCount :count="notifications.length" />
      </a>
      <!-- else -->
      <nuxt-link v-else title="Sign In" :to="`/auth/sign-in?ref=${$route.path}`" class="link icon">
        <icon name="user" stroke-width="1"></icon>
      </nuxt-link>
    </div>
    <div class="menu theme-shadow" v-if="loggedUser && userMenuOpen">
      <ul>
        <li>
          <div class="flexbox menu-links">
            <nuxt-link title="Profile" to="/users/profile" class="link">
              <icon class="icon" name="user" stroke-width="1"></icon>
              <p>
                <span>Profile</span>
              </p>
            </nuxt-link>
            <nuxt-link title="Settings" to="/users/profile/settings" class="link">
              <icon class="icon" name="settings" stroke-width="1"></icon>
              <p>
                <span>Settings</span>
              </p>
            </nuxt-link>
            <nuxt-link title="Log Out" to="/auth/sign-off" class="link">
              <icon class="icon" name="log-out" stroke-width="1"></icon>
              <p>
                <span>Sign Off</span>
              </p>
            </nuxt-link>
          </div>
          <div class="change-status relative">
            <label>Change status:</label>
            <dropdown :labelKey="'type'" :name="'user-status'" :selected="userStatus.currentStatus" :feed="userStatus.statusTypes"/>
          </div>
        </li>
      </ul>
      <notification-list :feed="notifications" :max="5" />
      <h6>
        <nuxt-link to="/users/profile">All notifications ({{ notifications.length }})</nuxt-link>
      </h6>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import NotificationCount from '~/components/atoms/NotificationCount'
import NotificationList from '~/components/molecules/NotificationList'
import UserStatusIndicator from '~/components/atoms/UserStatusIndicator'
import Dropdown from '~/components/atoms/Dropdown'

export default {
  middleware: 'authenticated',
  data () {
    return {
      userMenuOpen: false
    }
  },
  methods: {
    closeUserMenu () {
      this.userMenuOpen = false
    },
    toggleMenu () {
      this.userMenuOpen = !this.userMenuOpen
    }
  },
  computed: {
    ...mapGetters(['notifications', 'loggedUser', 'userStatus'])
  },
  components: {
    NotificationCount,
    NotificationList,
    UserStatusIndicator,
    Dropdown
  },
  mounted () {
    // on 'event' do store commit ...
    this.$root.$on('user-status', item => {
      this.$store.commit('SET_USER_STATUS', item.id)
    })
  }
}
</script>

<style lang="scss" scoped>
.user-badge {
  cursor: pointer;
  position: relative;
  user-select: none;
  margin-left: .5rem;

  .text {
    padding-right: .5rem;
  }

  .link {
    display: block;
    border-radius: $border-radius;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    p {
      color: inherit;
      padding: 0;
    }
  }

  .icon {
    width: $button-height;
    height: $button-height;
    display: inline-block;
  }

  .menu {
    border-radius: $border-radius;
    position: absolute;
    padding: .5rem;
    margin-top: .5rem;
    right: 0;
    width: 20rem;
    background-color: $color-light;
    color: $color-text-body;

    @include breakpoint-down(mobile-l) {
      position: fixed;
      right: 0;
    }

    &-links {
      font-size: .85em;
    }
  }

  .notification-list {
    position: relative;
    font-size: .75em;

    .icon {
      width: $button-height;
    }
  }
}
</style>
