<template>
  <div class="carousel">
    <flickity ref="flickity" :options="flickityOptions">
      <div v-if="feed" class="carousel-cell" v-for="item in feed">
        <img v-lazy="item.img"/>
        <div class="carousel__caption">
          <h3>{{item.name}}</h3>
          <p>{{ item.desc }}</p>
        </div>
      </div>
      <div v-if="!feed" class="carousel-cell" v-for="item in defaultFeed">
        <img v-lazy="item.img"/>
        <div class="carousel__caption">
          <h3 class="title">{{ item.name }}</h3>
          <p class="desc">{{ item.desc }}</p>
          <a class="btn" href="#">Learn more</a>
        </div>
      </div>
    </flickity>
  </div>
</template>

<script>
import Flickity from 'vue-flickity'

export default {
  props: {
    feed: {
      type: Array,
      required: false
    }
  },
  data () {
    return {
      flickityOptions: {
        autoPlay: 3000,
        initialIndex: 0,
        prevNextButtons: true,
        pageDots: false,
        wrapAround: true,
        resize: true,
        contain: true
        // percentPosition: 50,
      },
      defaultFeed: [{
        name: 'Akmodan',
        desc: 'Akmodan showcase.',
        img: {
          src: '/img/slides/akmodan-leaf.jpg'
        }
      },
      {
        name: 'Mac',
        desc: 'This designer table is for sale, 40% off.',
        img: {
          src: '/img/slides/1.jpg'
        }
      },
      {
        name: 'Video Editing',
        desc: 'Get set-up with the latest video editing software.',
        img: {
          src: '/img/slides/4.jpg'
        }
      },
      {
        name: 'Book',
        desc: 'Buy it now!',
        img: {
          src: '/img/slides/book.jpg'
        }
      },
      {
        name: 'Lamp',
        desc: 'New Design!',
        img: {
          src: '/img/slides/6.jpg'
        }
      }]
    }
  },
  methods: {
    next () {
      this.$refs.flickity.next()
    },
    previous () {
      this.$refs.flickity.previous()
    }
  },
  components: {
    Flickity
  }
}
</script>

<style lang="scss">
@import "flickity/dist/flickity.min.css";

$carousel-height-mobile: 160px;
$carousel-height-mobile-l: 280px;
$carousel-height-tablet: 350px;
$carousel-height-desktop: 450px;
$carousel-height-desktop-l: 500px;
$carousel-height-desktop-xl: 600px;

.carousel {
  height: $carousel-height-mobile;

  @include breakpoint-up(mobile-l){
    height: $carousel-height-mobile-l;
  }

  @include breakpoint-up(tablet){
    height: $carousel-height-tablet;
  }

  @include breakpoint-up(desktop){
    height: $carousel-height-desktop;
  }

  @include breakpoint-up(desktop-l){
    height: $carousel-height-desktop-l;
  }

  &__caption {
    @include transition($duration: 1s);
    padding: .5rem;
    width: 100%;
    margin-left: 1rem;
    position: absolute;
    bottom: 0;
    text-align: left;
    background-color: rgba($color-dark, 0.5);
    color: $color-light;
    text-shadow: 0 1px 2px rgba($color-dark, 0.9);
    border-radius: $border-radius;

    @include breakpoint-up(mobile-l){
      width: 50%;
    }
    @include breakpoint-up(tablet){
      margin-left: 0;
      width: 50%;
    }
    @include breakpoint-up(desktop){
      opacity: 0;
      transform: rotate3d(1, 0, 0, -180deg) scale(0);
    }

    .title {
      padding: 0;
      margin: 0;
      text-align: left;
      color: $color-light;

      @include breakpoint-up(tablet){
      }
    }
    .desc {
      line-height: 1rem;
      text-align: left;
    }
  }
}

.carousel-cell {
  position: relative;
  border-radius: $border-radius;
  width: 75%;
  height: $carousel-height-mobile;
  counter-increment: gallery-cell;
  margin: 0 .5rem;
  overflow: hidden;

  @include breakpoint-up(mobile-l){
    height: $carousel-height-mobile-l;
    margin: 0 1rem;
  }

  @include breakpoint-up(tablet){
    height: $carousel-height-tablet;
    margin: 0 1rem;
  }

  @include breakpoint-up(desktop){
    width: 90%;
    height: $carousel-height-desktop;
  }

  @include breakpoint-up(desktop-l){
    height: $carousel-height-desktop-l;
  }


  img {
    z-index: -1;
    position: relative;
    display: block;
    width: 100%;
  }

  &.is-selected {
    .carousel__caption {
      transform: rotate3d(0, 0, 0, 0) scale(1);
      opacity: 1;
    }
  }
}

.a div a {
  display: inline-block;
}

.flickity-prev-next-button {
  background-color: rgba($color-dark, 0.5);
  border-radius: $border-radius;

  @include breakpoint-down(mobile-l){
    display: none;
  }

  .arrow {
    fill: rgba($color-light, 0.5);
  }

  &:hover {
    background-color: rgba($color-light, 0.5);

    .arrow {
      fill: rgba($color-dark, 0.5);
    }
  }
}

.flickity-page-dots {
    bottom: 1rem;

    .dot {
      background: $color-grey2;

      .is-selecter {
        background: $color-light;
      }
    }
}
</style>
