<template>
<footer class="footer auto-width bg-dark">
  <div class="footer__inner flexbox">
    <div class="c-list">
      <h2>Menu</h2>
      <nav class="nav">
        <ul>
          <li v-for="item in navFeed">
            <nuxt-link :to="item.url">{{ item.name }}</nuxt-link>
          </li>
        </ul>
      </nav>
    </div>
    <div class="c-list hidden">
      <h2>Services</h2>
      <nav class="nav">
        <ul>
          <li>
            <a>service</a>
          </li>
          <li>
            <a>service</a>
          </li>
          <li>
            <a>service</a>
          </li>
          <li>
            <a>service</a>
          </li>
          <li>
            <a>service</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="c-list hidden">
      <h1>Menu 3</h1>
      <nav class="nav">
        <ul>
          <li>
            <a>home</a>
          </li>
          <li>
            <a>home</a>
          </li>
          <li>
            <a>home</a>
          </li>
          <li>
            <a>home</a>
          </li>
          <li>
            <a>home</a>
          </li>
        </ul>
      </nav>
    </div>
    <newsletter/>
  </div>

  <div class="c-uhff-base">
    <ul role="contentinfo" aria-label="Microsoft corporate links" class="f-bare" >
      <li>
        <nuxt-link class="c-uhff-link" to="/contact" data-mscc-ic="false" >Contact us</nuxt-link>
      </li>
      <li>
        <nuxt-link class="c-uhff-link" to="/privacy" data-mscc-ic="false" >Privacy &amp; cookies </nuxt-link>
      </li>
      <li>
        <nuxt-link class="c-uhff-link" to="/terms" data-mscc-ic="false" >Terms of use</nuxt-link>
      </li>
      <li>
        <nuxt-link class="c-uhff-link" to="/about/ads" data-mscc-ic="false" >About our ads</nuxt-link>
      </li>
      <li>
        <a class="c-uhff-link" href="/sitemap.xml" data-mscc-ic="false" >Sitemap</a>
      </li>
      <li>&copy; Akmodan 2018</li>
    </ul>
  </div>
</footer>
</template>

<script>
import Newsletter from '~/components/molecules/Newsletter'

export default {
  data () {
    return {
      baseUrl: process.env.baseUrl,
      apiKey: process.env.apiKey,
      mode: process.mode,
      navFeed: this.$store.state.navFeed
    }
  },
  computed: {},
  mounted () {},
  components: {
    Newsletter
  }
}
</script>
<style lang="scss">
.footer {
  box-shadow: 0 3px 5px -3px rgba($color-dark, 0.5) inset;

  &__inner {
    color: $color-light;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    justify-content: space-around;
    align-items: center;

    @include breakpoint-up(tablet) {
        width: $page-width-tablet;
    }

    @include breakpoint-up(desktop) {
        width: $page-width-desktop;
    }
  }

  .c-list {
    @include headers() {
      text-align: left;
    }
    min-width: 200px;
      .nav {
        & > div {
        }
      }
  }

  .c-uhff-base {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    .f-bare {
      li {
        display: inline-block;
        padding-right: .5rem;

        &:after {
          content: '-';
          padding-left: .5rem;
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }
}
</style>
