<template>
  <header class="header theme-shadow">
    <div class="header__inner">
      <Logo/>
      <nav-bar class="grow text-center"/>
      <search-component class=""/>
      <div class="discover-icon hidden">
        <nuxt-link class="icon" to="/discover">
          <icon name="compass" stroke-width="1" />
        </nuxt-link>
      </div>
      <user-badge/>
      <hamburger-icon/>
    </div>
  </header>
</template>
<script>
import Logo from '~/components/atoms/Logo'
import NavBar from '~/components/molecules/NavBar'
import UserBadge from '~/components/atoms/UserBadge'
import SearchComponent from '~/components/molecules/SearchComponent'
import HamburgerIcon from '~/components/atoms/HamburgerIcon'
import NotificationCount from '~/components/atoms/NotificationCount'

export default {
  components: {
    Logo,
    NavBar,
    UserBadge,
    SearchComponent,
    HamburgerIcon,
    NotificationCount
  }
}
</script>

<style lang="scss">
.header {
  position: fixed;
  width: 100vw;
  box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07),0 2px 9px 0 rgba(62,57,107,0.06);
  z-index: 5;
  background-color: rgba($color-site-background, .85);

  &__inner {
    margin: 0 auto;
    padding: .5rem;
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    @include breakpoint-up(mobile-l){
      width: $page-width-mobile-l;
    }
    @include breakpoint-up(tablet){
      width: $page-width-tablet;
    }
    @include breakpoint-up(tablet-l){
      padding: .5rem 0;
    }
    @include breakpoint-up(desktop){
      width: $page-width-desktop;
    }

    @include breakpoint-up(desktop-l){
      width: $page-width-desktop-l;
    }

    @include breakpoint-up(desktop-xl){
      width: $page-width-desktop-xl;
    }
  }

  .grow {
    flex-grow: 2;
  }

  .icon {
    svg {
      max-height: 100%;
      width: auto;
    }
  }
}
.header ~ .main {
  padding-top: 4rem;
}
</style>
