<template>
<section class="gallery-component">
  <div class="gallery" :class="{ loading: loading }">

    <div class="gallery__now-open" v-if="nowOpen.url" @click="closeItem()">
      <a class="button button--flat close" @click="closeItem()"> <i class="fa fa-close"></i> Close</a>
      <img :src="nowOpen.url" :alt="nowOpen.name + ' ' + nowOpen.desc" :title="nowOpen.name + ' ' + nowOpen.desc">
    </div>

    <a v-if="showLovesFilter" @click="filterByLoves()" class="btn">
      <div class="gallery__love-icon" :class="{ 'active' : loveFilter }">
        <icon name="heart" stroke-width="1"></icon>
      </div>
    </a>

    <transition-group name="list-transition" tag="ul" class="gallery__list flexbox">
      <li class="gallery__item" v-for="(item, i) in feedComputed" :key="i">
        <div class="gallery__love" v-if="showLovesFilter" @click="loveIt(item)" :class="{ loved: item.love }">
          <div class="gallery__love-icon" :class="{ active: item.love }">
            <icon name="heart" stroke-width="1"></icon>
          </div>
        </div>

        <div class="gallery__img" v-lazy:background="item.url">
        </div>

        <div class="gallery__meta">
          <p class="gallery__desc"><span class="gallery__name">{{item.name}}</span> {{item.desc}}</p>
          <div class="gallery__stats">
            <span>{{ item.likes }} <icon name="heart"></icon></span>
            <span>{{ item.comments }} <icon name="message-square"></icon></span>
          </div>
          <div class="gallery__user">
            <img v-lazy="item.user">
          </div>
        </div>
      </li>
    </transition-group>
  </div>
</section>
</template>

<script>
export default {
  props: {
    showLovesFilter: {
      type: Boolean,
      default: true
    },
    feed: {
      type: Array,
      required: false
    },
    items: {
      type: Number,
      default: null
    }
  },
  methods: {
    filterByLoves (index) {
      this.loveFilter = !this.loveFilter
    },
    viewItem: function (obj) {
      this.nowOpen = obj
    },
    closeItem: function () {
      this.nowOpen = {}
    },
    loveIt: function (item) {
      item.love = !item.love
      if (item.love) {
        item.likes++
      } else {
        item.likes--
      }
    }
  },
  computed: {
    feedComputed () {
      let feed = []
      if (this.feedLoves.length > 0 && this.loveFilter) {
        feed = this.feedLoves
      } else {
        feed = this.defaultFeed
      }
      if (this.items) {
        feed = this.defaultFeed.splice(0, this.items)
      }
      return feed
    },
    feedLoves () {
      let filteredItems = this.defaultFeed.filter((item) => {
        return item.love
      })
      return filteredItems
    }
  },
  data () {
    return {
      nowOpen: {},
      loading: true,
      loveFilter: false,
      defaultFeed: [
        {
          'name': 'item 1',
          'desc': '#lawd',
          'url': 'https://placeimg.com/400/400?1',
          'likes': '56',
          'love': false,
          'comments': '12',
          'user': 'https://placeimg.com/64/64/people?1'
        },
        {
          'name': 'item 2',
          'desc': 'oh #lawd',
          'url': 'https://placeimg.com/400/400?2',
          'likes': '81',
          'love': false,
          'comments': '9',
          'user': 'https://placeimg.com/64/64/people?2'
        },
        {
          'name': 'item 3',
          'desc': 'oh #lawd3',
          'url': 'https://placeimg.com/400/400?3',
          'likes': '203',
          'love': false,
          'comments': '16',
          'user': 'https://placeimg.com/64/64/people?3'
        },

        {
          'name': 'item 1',
          'desc': '#lawd',
          'url': 'https://placeimg.com/400/400?4',
          'likes': '12',
          'love': false,
          'comments': '12',
          'user': 'https://placeimg.com/64/64/people?4'
        },
        {
          'name': 'item 2',
          'desc': 'oh #lawd',
          'url': 'https://placeimg.com/400/400?5',
          'likes': '35',
          'love': false,
          'comments': '9',
          'user': 'https://placeimg.com/64/64/people?5'
        },
        {
          'name': 'item 3',
          'desc': 'oh #lawd3',
          'url': 'https://placeimg.com/400/400?6',
          'likes': '72',
          'love': false,
          'comments': '16',
          'user': 'https://placeimg.com/64/64/people?6'
        },

        {
          'name': 'item 1',
          'desc': '#lawd',
          'url': 'https://placeimg.com/400/400?7',
          'likes': '69',
          'love': false,
          'comments': '12',
          'user': 'https://placeimg.com/64/64/people?7'
        },
        {
          'name': 'item 2',
          'desc': 'oh #lawd',
          'url': 'https://placeimg.com/400/400?8',
          'likes': '98',
          'love': false,
          'comments': '9',
          'user': 'https://placeimg.com/64/64/people?8'
        },
        {
          'name': 'item 3',
          'desc': 'oh #lawd3',
          'url': 'https://placeimg.com/400/400?9',
          'likes': '26',
          'love': false,
          'comments': '16',
          'user': 'https://placeimg.com/64/64/people?9'
        }
      ]
    }
  },
  mounted () {
  }

}
</script>

<style lang="scss">
.gallery {
    padding: 0.5rem 0;

    &__title {}

    &__list {
      padding: 0 .5rem;
      margin: 0 -.5rem;

        @include breakpoint-up(mobile-l) {
          padding: 0;
        }
    }

    &__item {
      border-radius: $border-radius;
      z-index: 1;
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-bottom: 2rem;

      @include breakpoint-up(mobile-l) {
        width: calc((100% / 2) - 1rem);
        margin: .5rem;
      }

      @include breakpoint-up(tablet) {
        width: calc((100% / 3) - 1rem);
        margin: .5rem;
      }

      @include breakpoint-up(desktop) {
        .gallery__img {
        }
      }

      &:hover {
        .gallery__img {
            @include breakpoint-up(desktop) {
              box-shadow: 0 0 10px rgba($color-dark, 0.5) inset;
              transform: scale(1.05);
            }
        }

        .gallery__love,
        .gallery__meta {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
      }
    }

    &__meta {
        @include transition($duration: .3s);
        position: absolute;
        color: $color-light;
        text-shadow: 0 1px rgba(#000, .5);
        bottom: 0;
        padding: 0.5rem;
        width: 100%;
        background-color: rgba($color-dark, 0.5);
        user-select: none;

        @include breakpoint-up(desktop) {
            transform: translate3d(0, 100%, 0);
            opacity: 0;
        }
    }

    &__img {
        @include transition($duration: .3s);
        display: block;
        user-select: none;
        position: relative;
        z-index: 0;
        padding-top: 100%;
        background-repeat: no-repeat !important;
        background-size: contain !important;
    }

    &__love {
      @include transition($function: ease);
      position: absolute;
      width: 100px;
      height: 100px;
      top: -35px;
      left: -35px;
      z-index: 1;
      user-select: none;
      cursor: pointer;
      color: $color-base-complement;
      background-color: rgba($color-dark, 0.5);
      border-radius: 50%;

      @include breakpoint-up(desktop) {
        opacity: 0;
        transform: translate3d(-50%, -50%, 0);
      }

      &-icon {
        height: 24px;
        width: 24px;

        &.active svg {
          fill: $color-light;
        }
      }

      svg {
        position: absolute;
        z-index: 1;
        top: 50px;
        left: 50px;
        pointer-events: none;
        width: auto;
        height: auto;
      }

      &.loved {
        transform: translate3d(0, 0, 0);
        opacity: 1;

        svg {
          fill: $color-base-complement;
        }
      }
    }

    &__desc {
        z-index: 1;
        position: relative;
    }

    &__stats {
      svg.feather {
        width: 12px;
        height: 12px;
        vertical-align: baseline;

        margin-right: .5rem;
      }
    }

    &__name {
    }

    &__user {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;

        img {
            display: block;
            border-radius: 5rem;
            box-shadow: 0 0 5px rgba($color-dark, .7);
            border: 2px solid rgba($color-light, .8);
        }
    }

    &__now-open {
        @include transition;
        position: fixed;
        left: 0;
        z-index: 2;
        top: 0;
        user-select: none;
        @include breakpoint-up(desktop) {
            left: 0;
            cursor: pointer;
            left: auto;
            transform: translate3d(15vw, 0, 0);
        }

        .close {
            right: 0;
            top: 0;
            position: absolute;
        }

        img {
            @include transition;
            display: block;
            opacity: 0;
        }
    }
}
</style>
