<template>
  <div>
    <p>{{machine}}</p>
    <button class="button" @click="$store.commit('increment')">Counter {{ $store.state.counter }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      machine: process.static ? 'static' : (process.server ? 'server' : 'client')
    }
  },
  mounted () {
  }
}
</script>
