<template>
  <div class="mobile-menu" :class="{ open: $store.state.mobileMenuOpen }">
    <div class="mobile-menu__inner">
      <div class="close text-right">
        <a class="icon " href="#" @click="toggleMobileMenu()">
          <icon name="x" stroke-width="1"></icon>
        </a>
      </div>
      <nav class="navigation">
        <div class="navigation__inner">
          <ul class="navigation__list">
            <li v-for="item in getNavFeed" @click="toggleMobileMenu()" :class="{ active : ($route.fullPath == item.url)}">
              <nuxt-link :to="item.url" exact>
                <span>{{item.name}}</span>
              </nuxt-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedUser', 'getNavFeed'])
  },
  methods: {
    toggleMobileMenu () {
      this.$store.commit('SET_MOBILE_MENU')
    }
  }
}
</script>

<style lang="scss" scoped>
.close {
  text-align: right;
  padding: .5rem;

  a {
    display: inline-block;
    padding: 0;
    background-color: transparent;
    width: $button-height;
    height: $button-height;
  }
}

.mobile-menu {
  @include transition($duration: .3s);
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $color-dark;
  transform: translate3d(100%, 0, 0);
  z-index: 5001;
  overflow: auto;
  opacity: 0;

  &.open {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &__inner {

  }
}

.navigation {
  &__inner {
    overflow: hidden;

    @include breakpoint-up(tablet) {
    }

  }
  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      a {
        display: block;
        color: $color-base;
        height: $button-height * 1.5;
        line-height: $button-height * 1.5;
        font-size: 1.5rem;
        text-decoration: none;
        user-select: none;
        text-align: center;
        font-family: $fonts-nav;
      }

      &:hover {
        background-color: rgba($color-base, 0.5);
        a {
          color: $color-light;
        }
      }
      &.active {
        background-color: $color-base;
        a {
          color: $color-light;
        }
      }
    }
  }
}
</style>
