<template>
<section class="news">
  <div class="flexbox filterbar">
    <nav class="categories" v-if="showCategories">
      <ul class="navbar flexbox">
        <li v-for="cat in categoriesComputed" :class="{ active: cat === categoryComputed }">
          <nuxt-link :to="'?cat='+cat">{{cat}}</nuxt-link>
        </li>
        <li class="">
          <nuxt-link :to="$route.path" rel="noindex follow">All</nuxt-link>
        </li>
      </ul>
    </nav>

    <div class="form search" v-if="showSearch">
      <div class="icon">
        <icon name="search" stroke-width="1" />
      </div>
      <input type="text" v-model.string="searchQuery" class="input" v-on:keyup.escape="searchQuery=''" v-on:keyup.enter="$event.target.blur()" placeholder="Search">
    </div>
  </div>
  <div><p v-if="showSearch" v-show="searchQuery">Searching for: <b>"{{searchQuery}}"</b>...<span> found <b>{{feedComputed.length}}</b> results!</span></p></div>

  <!-- pagination -->
  <div class="text-right">
    <ul class="pagination flexbox text-right" v-if="pagesComputed && showPages">
      <div v-if="pagesComputed.length > displayPages" class="flexbox">
        <li v-if="currentPage > 1">
          <nuxt-link :to="'/news?page=' + (currentPage - 1)" class="btn"><icon name="chevron-left" stroke-width="1"/></nuxt-link>
        </li>
        <li v-else>
          <a class="btn btn--disabled"><icon name="chevron-left" stroke-width="1"/></a>
        </li>
        <li v-for="(item, key) in pagesComputed" :class="{ active: (key + 1) == currentPage }">
          <nuxt-link :to="'/news?page=' + (key + 1)" class="btn" :class="{ 'btn--disabled': (key + 1) == currentPage || !currentPage }">{{key + 1}}</nuxt-link>
        </li>
        <li v-if="currentPage < pagesComputed.length">
          <nuxt-link :to="'/news?page=' + (currentPage + 1)" class="btn"><icon name="chevron-right" stroke-width="1"/></nuxt-link>
        </li>
        <li v-else>
          <a class="btn btn--disabled"><icon name="chevron-right" stroke-width="1"/></a>
        </li>
      </div>
      <li v-else v-for="(item, key) of pagesComputed" :class="{ active: (key + 1) == currentPage || !currentPage }">
        <nuxt-link class="btn" :to="'/news?page=' + (key + 1)" :class="{ 'btn--disabled': (key + 1) == currentPage || !currentPage }">{{ key + 1 }}</nuxt-link>
      </li>
    </ul>
  </div>

  <div class="articles">
    <transition-group name="list-transition" tag="div" class="flexbox">
      <article class="list-transition article" v-for="(item, key) in feedComputed" :key="key" :class="{ 'ad-box': (ads && (key % adsPlacementInterval === adsStartAt)) }">
        <!-- actual article -->
        <div class="article-inner">
          <h4 class="ellipsis title">{{item.title}}</h4>
          <div class="img">
            <img v-lazy="item.img" />
          </div>
          <p class="author">
            Author
            <icon class="icon" stroke-width="1" name="user" /> {{item.userName}}
          </p>
          <div class="text-right tags">
            <span>Tags <icon class="icon" stroke-width="1" name="tag" />
                <span class="tag">{{item.categories.toString()}}</span></span>
          </div>
          <p class="body">{{item.body}}</p>
          <a href="#" class="float-right read-more">Read more &gt;</a>
        </div>

        <!-- ad -->
        <aside v-if="ads && (key % adsPlacementInterval === adsStartAt) && ($mq === 'tablet' || $mq === 'tablet-l' || $mq=== 'desktop')" class="ad bg-lightgrey">
          <h4 class="title">Bring your laptop to our service center</h4>
          <img v-lazy="'/img/slides/7.jpg'">
          <p class="body">Our service desk crew is standing by to receive all your questions and issues. Just give them a call.</p>
          <a class="button">Service Desk</a>
        </aside>
      </article>
    </transition-group>
    <!-- pagination -->
    <div class="text-right">
      <ul class="pagination flexbox text-right" v-if="pagesComputed && showPages">
        <div v-if="pagesComputed.length > displayPages" class="flexbox">
          <li v-if="currentPage > 1">
            <nuxt-link :to="'/news?page=' + (currentPage - 1)" class="btn"><icon name="chevron-left" stroke-width="1"/></nuxt-link>
          </li>
          <li v-else>
            <a class="btn btn--disabled"><icon name="chevron-left" stroke-width="1"/></a>
          </li>
          <li v-for="(item, key) in pagesComputed" :class="{ active: (key + 1) == currentPage }">
            <nuxt-link :to="'/news?page=' + (key + 1)" class="btn" :class="{ 'btn--disabled': (key + 1) == currentPage || !currentPage }">{{key + 1}}</nuxt-link>
          </li>
          <li v-if="currentPage < pagesComputed.length">
            <nuxt-link :to="'/news?page=' + (currentPage + 1)" class="btn"><icon name="chevron-right" stroke-width="1"/></nuxt-link>
          </li>
          <li v-else>
            <a class="btn btn--disabled"><icon name="chevron-right" stroke-width="1"/></a>
          </li>
        </div>
        <li v-else v-for="(item, key) of pagesComputed" :class="{ active: (key + 1) == currentPage || !currentPage }">
          <nuxt-link class="btn" :to="'/news?page=' + (key + 1)" :class="{ 'btn--disabled': (key + 1) == currentPage || !currentPage }">{{ key + 1 }}</nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</section>
</template>
<script>
export default {
  props: {
    ads: {
      type: Boolean,
      default: true
    },
    showSearch: {
      type: Boolean,
      default: true
    },
    showCategories: {
      type: Boolean,
      default: true
    },
    category: {
      type: String
    },
    showPages: {
      type: Boolean,
      default: true
    },
    items: {
      type: Number,
      default: null
    },
    feed: {
      type: Array,
      required: true,
      default: null
    }
  },
  data () {
    return {
      displayPages: 3,
      itemsPerPage: 10,
      adsStartAt: 1, // starts ads at the X index of the list
      adsPlacementInterval: 5, // continue to show ads every X item
      searchQuery: this.$route.query.search || ''
    }
  },
  methods: {
    toggleAds () {
      this.ads = !this.ads
    },
    chunkArray (myArray, chunkSize) {
      let index = 0
      let arrayLength = myArray.length
      let tempArray = []
      for (index = 0; index < arrayLength; index += chunkSize) {
        let myChunk = myArray.slice(index, index + chunkSize)
        // Do something if you want with the group
        tempArray.push(myChunk)
      }
      return tempArray
    }
  },
  computed: {
    searchQueryComputed () {
      const query = this.$route.query.search || this.searchQuery || null
      return query
    },
    pagesComputed () {
      let pages = this.chunkArray(this.feed, this.itemsPerPage)
      return pages
    },
    feedComputed () {
      let defaultFeed = []

      // filter the feed based on set categories
      if (!this.categoryComputed) {
        defaultFeed = this.feed
      } else {
        defaultFeed = this.feed.filter(item => {
          return item.categories.includes(this.categoryComputed)
        })
      }

      // slice the feed if requested via the prop 'items'
      if (this.items) {
        // also filter on category when requested via ?cat='' query
        if (this.categoryComputed) {
          defaultFeed = this.feed.filter(item => {
            return item.categories.includes(this.categoryComputed)
          }).slice(0, this.items)
        } else {
          defaultFeed = this.feed.slice(0, this.items)
        }
      }

      if (this.currentPage > 1) {
        let pageIndex = this.currentPage - 1
        defaultFeed = this.pagesComputed[pageIndex]
      }

      // on searches, filter the feed
      if (this.searchQueryComputed) {
        let query = this.searchQuery.toLowerCase()
        defaultFeed = this.feed.filter(item => {
          let title = item.title.toLowerCase()
          let body = item.body.toLowerCase()
          let tag = item.categories[0].toLowerCase()
          let user = item.userName.toLowerCase()
          return (title.indexOf(query) > -1 || body.indexOf(query) > -1 || tag.indexOf(query) > -1 || user.indexOf(query) > -1)
        })
        return defaultFeed
      } else {
        return defaultFeed.slice(0, this.itemsPerPage)
      }
    },
    categoriesComputed () {
      let arr = []
      // walk through array and return categories.
      this.feed.filter(item => {
        // now fill the array with only unique items, no duplicates.
        if (!arr.includes(item.categories.toString())) {
          arr.push(item.categories.toString())
        } else {
          return null
        }
      })
      return arr
    },
    categoryComputed () {
      let str = null
      if (this.category) {
        str = this.category
      } else {
        str = this.$route.query.cat || null
      }
      return str
    },
    currentPage () {
      let page = parseInt(this.$route.query.page)
      if (page > this.pagesComputed.length || page < 1) {
        page = 1
      }
      return page || 1
    }
  }
}
</script>
<style lang="scss">
.news {

  .filterbar {
    justify-content: space-between;

    .pagination {
    }

    .categories {
      .navbar {
        margin-bottom: 1rem;

        li {
          border-radius: $border-radius;
          a {
            padding: .5rem;
            display: block;
            text-transform: capitalize;
          }

          &.active {
            background-color: $color-magenta;
            a {
              color: $color-light;
              &:hover {
                  text-decoration: none;
              }
            }
          }
        }
      }
    }

    .search {
      position: relative;
      margin-bottom: 1rem;
      .input {
        padding-right: 2rem;
          &:hover {
          }
      }
      .icon {
        position: absolute;
        width: 2rem;
        height: 1.5rem;
        display: inline-block;
        right: 1rem;
        top: .5rem;
        z-index: 1;
      }
    }
  }

  .articles {
    margin: 0 -.5rem;

    @include breakpoint-up(desktop) {
    }
  }

    .article {
      position: relative;
      padding: .5rem;
      overflow: hidden;
      width: 100%;

        @include breakpoint-up(mobile-l) {
            width: calc(100% / 2);

            &:nth-child(3n) {
            }
        }
        @include breakpoint-up(tablet) {
            width: calc(100% / 3);
        }
        .ad {

        }
    }

    .author {
        font-size: 0.8rem;
        color: $color-grey2;
        line-height: 1rem;
        padding-bottom: 0;
    }

    .tags {
        font-size: 0.8rem;
        color: $color-grey2;
    }

    .tag {
        padding: 0.1rem 0.4rem;
        background-color: $color-grey;
        color: $color-darkgrey;
        border-radius: $border-radius;
        border-bottom: 1px solid rgba($color-dark, 0.3);
        text-transform: capitalize;
        text-shadow: 0 1px 0 rgba($color-light, 0.5);
    }

    .icon {
        height: 1rem;
        width: 1rem;
        vertical-align: sub;
    }

    .img {
        width: 100%;
        border-radius: $border-radius;
        overflow: hidden;
        height: 12rem;

        img {
            width: 100%;
        }
    }

    .title {
      color: $color-darkgrey;
      font-family: $fonts-headers;
      text-transform: capitalize;
      text-align: left;
    }

    .read-more {
    }

    .body {
        display: inline-block;
        overflow: hidden;
        max-height: 5rem;
        text-align: justify;
    }
}
</style>
