<template>
  <transition-group name="list-transition" tag="div" class="shows flexbox">
    <div class="list-transition show" v-for="(item, key) in feedComputed" :key="key">
      <div class="image" v-lazy:background-image="item.image.medium">
        <div class="info">
          <h5>{{ item.name }}</h5>
          <div class="summary" v-html="item.summary"></div>
        </div>
      </div>
    </div>
  </transition-group>
</template>
<script>
export default {
  data () {
    return {
      search: null,
      searchResults: null,
      category: null,
      feed: this.asyncFeed || null
    }
  },
  methods: {
    async doSearch () {
      if (this.search.length < 3) return
      const results = await this.$axios.$get('http://api.tvmaze.com/search/shows?q=' + this.search)
      var { show } = results
      this.searchResults = show
    }
  },
  computed: {
    feedComputed () {
      let feed = this.asyncFeed
      let newList = this.category ? feed.filter(item => {
        return item.genres.includes(this.category)
      }) : feed

      if (this.searchResults) {
        newList = this.searchResults.show
      }

      return newList
    },
    categoriesComputed () {
      let arr = []
      this.asyncFeed.filter(item => {
        let genres = item.genres

        for (let genre of genres) {
          if (!arr.includes(genre)) {
            arr.push(genre)
          } else {
            return null
          }
        }
      })
      return arr
    }
  }
}
</script>
<style lang="scss">

</style>
