<template>
  <div class="layout-default bg-dark" :class="{ 'no-scroll': $store.state.mobileMenuOpen }">
    <mobile-menu/>
    <header-bar/>
    <nuxt class="main"/>
    <footer-bar/>
    <notifications classes="vue-notifications" position="top right">
    </notifications>
    <cookie-consent/>
    <feedback-module/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HeaderBar from '~/components/organs/HeaderBar'
import FooterBar from '~/components/organs/FooterBar'
import MobileMenu from '~/components/organs/MobileMenu'
import CookieConsent from '~/components/atoms/CookieConsent'
import FeedbackModule from '~/components/molecules/FeedbackModule'

export default {
  data () {
    return {
      user: this.$store.getters.loggedUser
    }
  },
  components: {
    HeaderBar,
    FooterBar,
    MobileMenu,
    CookieConsent,
    FeedbackModule
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedUser'])
  },
  mounted () {
  }
}
</script>

<style lang="scss">
.layout-default {
  min-height: 100vh;
  width: 100%;
}

.layout-default.bg-dark {

  // override default link for dramatic effect!
  a {
    color: $color-magenta;

    &:hover {
      color: $color-light;
    }

    &.nuxt-link-active {
      color: $color-light;
    }
  }

  .navigation {
    li.active {
      a {
        background-color: $color-magenta;
      }
    }
  }

  .header {
    background-color: rgba($color-dark, .5);
  }
  .navigation {
    .nuxt-link-active {
      background-color: $color-magenta;
    }
  }
  .user-badge .menu {
    background-color: $color-dark;
  }

  .footer {
    background: $color-darkgrey;
  }

  .cc {
    color: $color-darkgrey;
  }

}
</style>
