<template>
  <div class="layout-default" :class="{ 'no-scroll': $store.state.mobileMenuOpen }">
    <mobile-menu/>
    <header-bar/>
    <nuxt class="main"/>
    <footer-bar/>
    <notifications classes="vue-notifications" position="top right">
    </notifications>
    <cookie-consent/>
    <feedback-module/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import HeaderBar from '~/components/organs/HeaderBar'
import FooterBar from '~/components/organs/FooterBar'
import MobileMenu from '~/components/organs/MobileMenu'
import CookieConsent from '~/components/atoms/CookieConsent'
import FeedbackModule from '~/components/molecules/FeedbackModule'

export default {
  data () {
    return {
      user: this.$store.getters.loggedUser
    }
  },
  components: {
    HeaderBar,
    FooterBar,
    MobileMenu,
    CookieConsent,
    FeedbackModule
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedUser'])
  },
  mounted () {
  }
}
</script>

<style lang="scss">
.layout-default {
  min-height: 100vh;
  width: 100%;

 .diagonal {
   position: relative;
  z-index: 0;
   &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 350px;
    background: white;
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
    z-index: 0;
    top: -170px;
    z-index: 1;
    box-shadow: rgba(112,128,175,0.2) 0 -16px 24px
   }
 }
}
</style>
