<template>
  <main class="page page-error auto-width flexbox">
    <div class="inner padding">

      <div v-if="error.statusCode === 404">
        <h1 class="title warn bold">
          <div class="icon">
            <icon name="alert-triangle" />
          </div>
          <span>{{error.statusCode}}: page not found!</span>
        </h1>
        <hr>
        <h2 class="title message">{{error.message}}: <b>{{$route.path}}</b></h2>
      </div>

      <div v-else>
        <h1 class="title error bold">
          <div class="icon">
            <icon name="alert-octagon" />
          </div>
          <span>Woops. Something's wrong!</span>
        </h1>
        <hr>
        <h2 class="title message"><b>{{error.statusCode}}</b>: {{error.message}}</h2>
      </div>
      <div class="text-center">
        <p>You can hang around here or <nuxt-link to="/">go back to the  home page</nuxt-link></p>
      </div>

    </div>
  </main>
</template>

<script>
export default {
  props: ['error']
}
</script>
<style lang="scss">
.page-error {
  min-height: 70vh;

  .inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .icon {
    height: 6rem;
    margin: 0 0 .5rem;

    @include breakpoint-up(mobile-l) {
      height: 8rem;
    }

    svg {
      width: auto;
    }
  }
  .title {
  }
  .warn {
    color: $color-orange;
  }
  .error {
    color: $color-red;
  }
  .message {
    color: $color-grey2;
  }

  &+footer {
    min-height: 30vh;
  }
}
</style>
