<template>
  <main class="page page-show auto-width">
    <div class="inner category">
      <div class="show-page">
        <breadcrumbs :page="data.name"/>
        <div class="show-inner">
          <div class="flexbox">
            <div class="show-image">
              <img v-lazy="data.image.original"/>
            </div>
            <div class="show-info">
              <h1 class="show-title">{{ data.name }} ({{data.premiered.split('-')[0]}})</h1>
              <star-rating :rating="data.rating.average" :max="10" />
              <div class="summary" v-html="data.summary"></div>
            </div>
          </div>

          <div class="cast-block margin">
            <h2 class="cast-title" @click="toggleCast()">
              <a class="cursor-pointer">
                <span>Cast</span>
              </a>
              <icon v-if="!showCast" name="chevron-down" stroke-width="1" />
              <icon v-else name="chevron-up" stroke-width="1" />
            </h2>
            <ul class="cast flexbox flexbox-space-between" v-show="showCast" >
              <li v-for="item in data._embedded.cast">
                <img v-if="item.person.image" v-lazy="item.person.image.medium" />
                <p class="cast-name"><b>{{item.person.name}}</b></p>
              </li>
            </ul>
          </div>

          <div class="episodes-block margin">
            <h2 class="episodes-title" @click="toggleEpisodes()">
              <a class="cursor-pointer">
                <span>Episodes</span>
              </a>
              <icon v-if="!showEpisodes" name="chevron-down" stroke-width="1" />
              <icon v-else name="chevron-up" stroke-width="1" />
            </h2>
            <ul class="season-list flexbox hidden">
              <li v-for="item in seasonsComputed">
                <nuxt-link :to="'?season='+item">{{ item }}</nuxt-link>
              </li>
            </ul>
            <ul class="episodes flexbox" v-show="showEpisodes" >
              <li class="episode" v-for="item in data._embedded.episodes">
                <img v-if="item.image" v-lazy="item.image.medium" />
                <a :href="item.url" target="_blank">
                  <p class="episode-name">S{{item.season}}, E{{item.number}}, <b>{{ item.name }}</b></p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
import Breadcrumbs from '~/components/atoms/Breadcrumbs'
import StarRating from '~/components/atoms/StarRating'
export default {
  layout: 'dark',
  validate ({ params, store }) {
    return /^\d+$/.test(params.id)
  },
  async asyncData ({ store, params }) {
    const { data } = await store.$axios.get(`https://api.tvmaze.com/shows/${params.id}?embed[]=episodes&embed[]=cast`)
    return { data }
  },
  data () {
    return {
      showCast: false,
      showEpisodes: false,
      currentSeason: 0,
      id: this.$route.params.id || null
    }
  },
  computed: {
    seasonsComputed () {
      let arr = []
      // walk through array and return categories.
      this.data._embedded.episodes.filter(item => {
        // now fill the array with only unique items, no duplicates.
        if (!arr.includes(item.season)) {
          arr.push(item.season)
        } else {
          return null
        }
      })
      return arr
    },
    episodesComputed () {
      return this.data._embedded.episodes.filter(item => item.season === this.currentSeason)
    }
  },
  methods: {
    toggleCast () {
      this.showCast = !this.showCast
    },
    toggleEpisodes () {
      this.showEpisodes = !this.showEpisodes
    }
  },
  components: {
    StarRating,
    Breadcrumbs
  }
}
</script>
<style lang="scss">
.show-page {
  .show-inner {
    .summary {
    }
    .show-title {
      text-align: left;
    }
    .show-info {
      width: 75%;
    }
  }
  .cast-block {
    .cast {
      padding-top: 1rem;
      li {
        width: 100%;
        text-align: center;
        padding-bottom: 1rem;

        @include breakpoint-up(mobile-l) {
          width: auto;
          padding-bottom: 2rem;
        }
      }
      img {
        width: 50%;
        height: auto;
      }
      .cast-name {
        font-size: .8em;
        padding: 0;
      }
    }
  }
  .episodes-block {
    .episodes {
      padding-top: 1rem;
      .episode-name {
        font-size: .8em;
        padding: 0;
      }
      .episode {
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;

        @include breakpoint-up(mobile-l) {
          width: calc(100% / 2);
          padding-bottom: 2rem;
        }
        @include breakpoint-up(tablet) {
          width: calc(100% / 3);
        }
        @include breakpoint-up(desktop) {
          width: calc(100% / 4);
        }
      }
    }
  }

  .show-image {
    width: 25%;
    padding-right: 1rem;
    padding-top: 1rem;
  }
}
</style>
