<template>
  <main class="page page-about auto-width">
    <div class="inner">
      <aside class="sidebar hidden">
        <h3>sidebar</h3>
        <p>sidebar</p>
      </aside>
      <h1>ABOUT</h1>
      <p>AKMODAN Features include: <a class="btn" @click="toggleAdd()">add new feature</a>
      <!-- TODO: create seperate component for this part -->
      <div v-if="addFeatureIsOpen">
        <form class="form" @submit.prevent="addFeature">
          <input type="text" name="text" placeholder="start typing to add a new feature" v-model.string="newFeature.html">
          <input type="text" name="url" placeholder="/my-path/url/ (optional)" v-model.url="newFeature.url">
          <button type="submit" class="btn" name="send" @click="addFeature()" :disabled="!newFeature.html" :class="{'button--disabled':!newFeature.html}">Save</button>
        </form>
      </div>
      <transition-group name="list-transition" tag="ul" class="flexbox about-features margin">
        <li v-for="(item, key) in features" :key="key">
          <span v-html="item.html"></span>
          <nuxt-link v-if="item.url" :to="item.url"><br/>({{item.url}})</nuxt-link>
          <a class="icon" @click="removefeature(key)">
            <icon name="trash-2" stroke-width="2"/>
          </a>
        </li>
      </transition-group>

      <div class="ipsum">
        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
        <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
      </div>
      <p>here's a hero banner</p>
    </div>
  </main>
</template>

<script>
import Hero from '~/components/molecules/Hero'

export default {
  async asyncData ({ uri, app }) {
    const ip = await app.$axios.$get('https://icanhazip.com')
    return { ip, uri }
  },
  methods: {
    toggleAdd () {
      this.addFeatureIsOpen = !this.addFeatureIsOpen
    },
    addFeature () {
      if (!this.newFeature.html) return
      // keep in mind object.assign is not supported in < IE10
      // for that reason we use json.parse+json.stringify to achieve deep
      this.features.push(JSON.parse(JSON.stringify(this.newFeature)))
      this.newFeature.html = ''
      this.newFeature.url = ''
    },
    removefeature (key) {
      this.features.splice(key, 1)
    }
  },
  data () {
    return {
      user: this.$store.getters.loggedUser || {name: 'Amigo'},
      isAuthenticated: this.$store.getters.isAuthenticated,
      addFeatureIsOpen: false,
      newFeature: {
        html: '',
        url: ''
      },
      heroFeed: [{
        title: 'ADS',
        desc: 'AKMODAN DOES NOT USE ADS.',
        img: '/img/slides/7.jpg',
        button: 'WE DON\'T USE THEM'
      },
      {
        title: 'Another hero Banner',
        desc: 'A second hero banner item.',
        img: '/img/slides/desktop.jpg',
        button: 'DON\'T CLICK THIS BUTTON'
      },
      {
        title: 'Hero Banner third',
        desc: 'A second hero banner item.',
        img: '/img/slides/bird.jpg',
        button: 'CALL TO ACTION'
      }],
      features: [
        { html: `Fully <b>Reactive</b> (vuejs)`, url: '' },
        { html: `<b>Dynamic</b> &amp; <b>clean</b> URLs`, url: '/news/reviews' },
        { html: `Full <b>history</b> browsing`, url: '' },
        { html: `Component <i>nesting</i> (vuejs)`, url: '' },
        { html: `Global &amp; component <b>state management</b> (vuex)`, url: '' },
        { html: `Event management (vuejs)`, url: '' },
        { html: `<b>Reusable components</b> (.vue files)`, url: '' },
        { html: `<b>Static</b> page generation`, url: '' },
        { html: `Client &amp; server side <b>ajax support</b>`, url: '' },
        { html: `List &amp; page <b>transition animations</b>`, url: '' },
        { html: `<b>Lazy image</b> loading`, url: '' },
        { html: `User <b>Authentication</b>`, url: '' },
        { html: `<b>Feedback</b> module (front-end only)`, url: '' },
        { html: `Toast <b>Notifications</b> (real-time)`, url: '' },
        { html: `<b>SCSS</b> support &amp; variables injection`, url: '' },
        { html: `<b>Single page</b> application`, url: '' },
        { html: `Server Side rendering (disabled)`, url: '' },
        { html: `<b>Code minification</b>/uglifier`, url: '' },
        { html: `<b>Code splitting</b>`, url: '' },
        { html: `<b>Fully responsive &amp; mobile friendly</b>`, url: '' }
      ]
    }
  },
  components: {
    Hero
  },
  mounted () {
    this.$notify({
      type: 'info',
      title: 'About page says:',
      text: 'Your ip addres is <b> ' + this.ip + '</b>',
      duration: 3000,
      speed: 500
    })
  },
  head () {
    let pageTitle = this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    return {
      titleTemplate: `${pageTitle} - %s`
    }
  }
}
</script>

<style lang="scss">
.page-about {

  .about-features {
    li {
      position: relative;
      border-radius: $border-radius;
      padding: 2rem 1rem;
      margin: .5rem;
      background: linear-gradient(-135deg, rgba($color-light, 1), rgba($color-orange, .75));
      color: $color-darkgrey;

      &:hover {
        .icon {
          display: block;
        }
      }

      .icon {
        color: $color-red;
        position: absolute;
        display: none;
        top: .9rem;
        right: .5rem;
        cursor: pointer;
        border-radius: $border-radius;

        &:hover {
          background-color: $color-red;
          color: $color-light;
        }
      }
    }
  }
}
</style>
