$color-base: #09c; // #09c default
$color-base-light: lighten($color-base, 20%);
$color-base-dark: darken($color-base, 20%);
$color-base-complement: complement($color-base);
$color-alt: adjust-hue($color-base, 90deg);
$color-alt2: adjust-hue($color-base, 220deg);

$color-light: #fff;
$color-lightgrey: #FAFAFA;
$color-grey: #CCC;
$color-grey2: #999;
$color-grey3: #666;
$color-darkgrey: #333;
$color-dark: #000;

$color-red: #E54D42;
$color-green: #68CD86;
$color-yellow: #F8E71C;
$color-orange: #F5A623;
$color-blue: #44A4FC;
$color-purple: #a3f;
$color-magenta: #CE00BC;

$color-text-headers: $color-grey2;
$color-text-body: $color-grey3;
$color-border: $color-grey;

$color-link: $color-base;
$color-link-hover: $color-magenta;
$color-link-active: $color-magenta;

$color-button: $color-link;
$color-button-hover: $color-link-hover;
$color-button-active: $color-link-active;

// site background color
$color-site-background: $color-light;
