// breakpoints
$grid-breakpoints: (
  mobile: 320px,
  mobile-l: 480px,
  tablet: 768px,
  tablet-l: 1024px,
  desktop: 1025px,
  desktop-l: 1200px,
  desktop-xl: 1400px
);

$page-width-mobile: map-get($grid-breakpoints, mobile);
$page-width-mobile-l: map-get($grid-breakpoints, mobile-l);
$page-width-tablet: map-get($grid-breakpoints, tablet);
$page-width-tablet-l: map-get($grid-breakpoints, tablet-l);
$page-width-desktop: map-get($grid-breakpoints, desktop);
$page-width-desktop-l: map-get($grid-breakpoints, desktop-l);
$page-width-desktop-xl: map-get($grid-breakpoints, desktop-xl);

$button-height: 40px;
$border-radius: 5px;
$form-input-width: 12rem;
