$fonts-custom-1: "Roboto Slab";
$fonts-custom-2: "Open Sans";

$fonts-generic: helvetica, arial, sans-serif;
$fonts-body: $fonts-custom-2, $fonts-generic;
$fonts-headers: $fonts-custom-1, $fonts-generic;
$fonts-nav: $fonts-custom-2, $fonts-generic;

$fonts-weight-headers: 300;
$fonts-weight-body: 400;
$fonts-weight-nav: 400;

$text-size-body: 14px;
$text-size-body-mobile: 14px;
$text-line-height: 2rem;
$text-line-height-mobile: 1.5rem;
