<template>
  <main class="page page-contact auto-width">
    <div class="inner text-center">
      <h2 class="page-title">Reach Akmodan</h2>
      <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
      <form class="form" name="contact" netlify-honeypot="bot-field" >
        <label>
          <span>Gender: </span>
          <Dropdown :labelKey="'label'" :name="'gender'" :feed="gender"/>
        </label>

        <label v-if="showAge">
          <span>Age: </span>
          <Dropdown :labelKey="'label'" :name="'age'" :feed="age" />
        </label>

        <label v-if="showDepartment">
          <span>Department: </span>
          <Dropdown :labelKey="'label'" :name="'department'" :feed="department" />
        </label>

        <label class="form__label">
          <span>E-mail: <b class="color-base">&#42;</b></span>
          <input class="form__input" type="email" name="email"
          v-model="emailString"
          placeholder="your.email@address.com"
          autocomplete="off">
        </label>

        <label class="form__label">
          <span>Subject: <b class="color-base">&#42;</b></span>
          <input class="form__input" v-model="subjectString" type="text" name="subject" placeholder="subject heading" autocomplete="off">
        </label>

        <label class="form__label">
          <span>Message: <b class="color-base">&#42;</b></span>
          <textarea class="form__textarea" v-model="messageString" name="message" placeholder="Your message..."></textarea>
        </label>
        <label class="flexbox">
          <span></span>
          <span>
            Fields marked with <b class="color-base">&#42;</b> are required.
          </span>
        </label>
        <label>
          <span></span>
          <button class="button" type="submit" :class="{'button--disabled': (!emailString || !subjectString || !messageString)}" :disabled="(!emailString || !subjectString || !messageString)">
            <icon name="mail" stroke-width="1"/>
            <span>Send</span>
          </button>
        </label>
        <p class="hidden"><input name="bot-field"></p>
      </form>
    </div>
 </main>
</template>
<script>
import Dropdown from '~/components/atoms/Dropdown'

export default {
  data () {
    return {
      emailString: null,
      subjectString: null,
      messageString: null,
      showAge: false,
      showDepartment: false,
      age: [{label: '< 18'}, {label: '18-30'}, {label: '30 >'}],
      gender: [{label: 'Male'}, {label: 'Female'}, {label: 'Other'}],
      department: [{label: 'Marketing'}, {label: 'Sales'}, {label: 'IT'}, {label: 'HR'}]
    }
  },
  mounted () {
    this.$root.$on('gender', item => {
      this.showAge = true
    })
    this.$root.$on('age', item => {
      this.showDepartment = true
    })
  },
  methods: {
    submitForm () {
    }
  },
  components: {
    Dropdown
  },
  head () {
    let pageTitle = this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    return {
      titleTemplate: `${pageTitle} - %s`
    }
  }
}
</script>
