<template>
  <main class="page page-gallery auto-width">
    <div class="inner">
      <h1>GALLERY</h1>
      <p class="text-center">This section of <b>Akmodan</b> represents a gallery app that fetches a <b>list of albums</b> to be displayed here.</p>
      <h5 class="text-center bold">#AKMODAN</h5>
      <image-gallery/>
    </div>
  </main>
</template>

<script>
import ImageGallery from '~/components/organs/ImageGallery'

export default {
  asyncData ({ query }) {
    return {
      name: process.static ? 'static' : (process.server ? 'server' : 'client'),
      query: query || null
    }
  },
  data () {
    return {
      feed: [{
        name: '1',
        url: 'img/slides/1.jpg'
      },
      {
        name: '2',
        url: 'img/slides/2.jpg'
      },
      {
        name: '3',
        url: 'img/slides/3.jpg'
      },
      {
        name: '4',
        url: 'img/slides/4.jpg'
      },
      {
        name: '5',
        url: 'img/slides/5.jpg'
      },
      {
        name: '6',
        url: 'img/slides/6.jpg'
      }]
    }
  },
  components: {
    ImageGallery
  },
  head () {
    let pageTitle = this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
    return {
      titleTemplate: `${pageTitle} - %s`
    }
  }
}
</script>
