<template>
  <main class="page page-index">
    <div class="statement">
      <p>To keep your machine safe and secure, turn on system updates. <a href="#">Learn More</a></p>
    </div>

    <section class="">
      <carousel/>
    </section>

    <section class="padding auto-width">
      <h2>Project Akmodan</h2><br><br>
      <features class="inner"/>
    </section>

    <section class="padding auto-width bg-lightgrey">
      <h2 id="category">Latest News</h2><br>
      <div class="inner">
        <news-app :feed="$store.state.newsFeed" :items="3" :showSearch="false" :showPages="false" :showCategories="true" :ads="false" />
      </div>
    </section>

    <section class="padding auto-width bg-base theme-shadow-inset">
      <h2>Staff picks</h2><br>
      <boxes class="inner"/>
    </section>

    <section class="">
      <hero :timer="5000" />
    </section>

    <section class="padding auto-width bg-base  theme-shadow-inset">
      <h2>More Features</h2><br>
      <features :feed="featuresFeed"/>
    </section>

    <section class="auto-width bg-lightgrey padding">
      <h2>Instagram #AKMODAN</h2><br>
      <ImageGallery class="inner" :showLovesFilter="false" :items="3"/>
    </section>

    <section class="auto-width" v-if="!isAuthenticated">
      <div class="inner">
        <h2>Hello, {{ loggedUser ? loggedUser.name : 'Amigo' }}!</h2>

        <div class="ipsum">
          <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
          <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
          <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
        </div>

        <div class="auth-user">
          <p v-if="!isAuthenticated">
            You're not authenticated yet. Maybe you want to <nuxt-link to="/auth/sign-in" class="link">sign in</nuxt-link> and see what happens?
          </p>
          <p v-if="isAuthenticated">
            Now that you're authenticated, maybe you should try going to our <nuxt-link to="/users/profile" class="link">super secret page</nuxt-link>!
          </p>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import { mapGetters } from 'vuex'
import HeaderBar from '~/components/organs/HeaderBar'
import Carousel from '~/components/organs/Carousel'
import Features from '~/components/molecules/Features'
import Boxes from '~/components/molecules/Boxes'
import ImageGallery from '~/components/organs/ImageGallery'
import Hero from '~/components/molecules/Hero'
import NewsApp from '~/components/organs/NewsApp'
import SuperSecretDiv from '~/components/organs/SuperSecretDiv'

export default {
  data () {
    return {
      user: this.$store.getters.loggedUser || {},
      featuresFeed: [{
        title: 'Activity',
        desc: 'Here\'s some description text to further describe this feature.',
        img: 'activity',
        button: 'See demo'
      },
      {
        title: 'Camera',
        desc: 'A feature that has something to do with a camera..',
        img: 'camera',
        button: 'Learn more'
      },
      {
        title: 'Award',
        desc: 'This feature portrays something to do with an award.',
        img: 'award',
        button: 'Learn more'
      },
      {
        title: 'Bluetooth',
        desc: 'This product feature includes bluetooth functionality.',
        img: 'bluetooth',
        button: 'More info'
      }]
    }
  },
  computed: {
    ...mapGetters(['isAuthenticated', 'loggedUser', 'notifications'])
  },
  mounted () {
  },
  components: {
    Carousel,
    SuperSecretDiv,
    HeaderBar,
    Features,
    Boxes,
    ImageGallery,
    NewsApp,
    Hero
  }
}
</script>

<style lang="scss">
.content {

}

.statement {
  p {
    text-align: center;
  }
}
</style>
